<?php
?>

<script type="text/javascript">
function mn_quickview(obj) {
	var ajax_link = jQuery(obj).data('qvl');
	
	if (ajax_link != undefined) {
		
    	new Ajax.Request(ajax_link,{ method:'get',
        	onLoading:function () {
            	var imgsrc='<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS)?>' + 'scriptaculous/spinner.gif';
            	var htlm = '<div style="margin-left:200px"><img src="'+ imgsrc + '"</div>';
            	
            	jQuery.colorbox( {html:"<div>"  + htlm + "</div>" });
        	},
        	onSuccess: function (transport) {
        		
	        	jQuery.colorbox( {html:"<div>"  + transport.responseText + "</div>" });

        	}
        	});
	}
	
}
////////////////
function isUrl(s) {
	   var regexp = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/
	   return regexp.test(s);
	}
function updateCartTop() {
	var baseurl = '<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK)?>';
	var carttop = document.getElementsByClassName('top-link-cart')[0];
	new Ajax.Request(baseurl + 'ajaxcart/index/index', {method:'get',
		 onSuccess: function(transport) {carttop.innerHTML = transport.responseText;
	}});
}

//update cart side bar
function updateCartSideBar() {
	var baseurl = '<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK)?>';
	var sidebarE = document.getElementsByClassName('block block-cart')[0];
	new Ajax.Request(baseurl + 'ajaxcart/index/sidebar',{
			method: 'get',
			onSuccess: function(transport) {
				var beginn = transport.responseText.indexOf('<div class="block-title">');
				
				var end = transport.responseText.indexOf('</ol>');
				
				
				var content = transport.responseText.substr(beginn,end-beginn);
				
				sidebarE.innerHTML = content;
				}
		});
}
/** */
var ajaxcartresponse;
function hn_addcart(obj) {
	
   
      	              ajaxurl ="http://127.0.0.1/magentotheme/tech/index.php/ajaxcart/index/config/product/423/";
	                	  jQuery.ajax({
	              	        type: 'POST',
	              	         url: ajaxurl,
	              	         data: {
	              	            "action": "giftwrapper_select_action",
	              	            'name': jQuery(this).attr('data-name'),
	              	            'manufacturer': jQuery(this).attr('data-manufacturer')
	              	          
	              	        },
	              	        success: function(response){
	              	        	ajaxcartresponse = response
	              	        	jQuery.colorbox( {html:"<div>"  + response + "</div>" });

	              	        }
	              	    });
     
    
      }


      /** show the view for configurable, grouped product */
      
      function mn_ajc_step1(obj) {
    		var baseurl = '<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK)?>';
            var ajaxurl = baseurl;
    		var $product_type = jQuery(obj).data('producttype');
    		var $product_type = jQuery(obj).attr('data-producttype');
    		var $product_id = jQuery(obj).attr('data-productid');
    		
    		console.log( $product_id);

    		console.log( jQuery(obj));
    		if ($product_type == 'configurable') {
    			 ajaxurl =baseurl + '/ajaxcart/index/config/product/' + jQuery(obj).data('productid');
        		} else if ($product_type == 'grouped') {
        			 ajaxurl =baseurl + '/ajaxcart/index/group/product/' + jQuery(obj).data('productid');
            		}   else if ($product_type == 'downloadable') {
        			 ajaxurl =baseurl + '/ajaxcart/index/downloadable/product/' + jQuery(obj).data('productid');
            		} else  {
           			 ajaxurl = baseurl + '/ajaxcart/index/all/product/' + jQuery(obj).data('productid');

            		}
    		
    		console.log(ajaxurl);
    		var imgsrc='<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS)?>' + 'scriptaculous/spinner.gif';
        	var htlm = '<div style="margin-left:200px"><img src="'+ imgsrc + '"</div>';
        	jQuery.colorbox( {html:"<div>"  + htlm + "</div>" });
    		  jQuery.ajax({
        	        type: 'POST',
        	         url: ajaxurl,
        	         data: {
        	            "action": "giftwrapper_select_action",
        	            'name': jQuery(this).attr('data-name'),
        	            'manufacturer': jQuery(this).attr('data-manufacturer')
        	          
        	        },
        	       
        	        success: function(response){
        	        	ajaxcartresponse = response;
        	        	jQuery.colorbox( {html:"<div>"  + response + "</div>" });

        	        }
        	    });
    		
          }
      

      /** step 2 */
      
                function mn_ajaxcart_step2() {
            	var productAddToCartForm = new VarienForm('product_addtocart_form');
            	
                productAddToCartForm.submit = function(button, url) {
                    if (this.validator.validate()) {
                        var form = this.form;
                        var oldUrl = form.action;

                        if (url) {
                           form.action = url;
                        }
                        var e = null;
                        try {
                            this.form.submit();
                        } catch (e) {
                        }
                        this.form.action = oldUrl;
                        if (e) {
                            throw e;
                        }

                        if (button && button != 'undefined') {
                            button.disabled = true;
                        }
                    }
                }.bind(productAddToCartForm);

                productAddToCartForm.submitLight = function(button, url){
                    if(this.validator) {
                        var nv = Validation.methods;
                        delete Validation.methods['required-entry'];
                        delete Validation.methods['validate-one-required'];
                        delete Validation.methods['validate-one-required-by-name'];
                        if (this.validator.validate()) {
                            if (url) {
                                this.form.action = url;
                            }
                            this.form.submit();
                        }
                        Object.extend(Validation.methods, nv);
                    }
                }.bind(productAddToCartForm);
                var send_url = productAddToCartForm.form.action;
                var parameterss='';
            	var form_select_Ele = productAddToCartForm.form.getElementsByTagName('select');
            	if(form_select_Ele != null && form_select_Ele != undefined && form_select_Ele.length > 0) {
                	
                	parameterss += '?' + form_select_Ele[0].name + '=';
                	parameterss += form_select_Ele[0].value;
            	for (var i = 1; i < form_select_Ele.length; i++ ) {
                	if(form_select_Ele[i] != undefined) {
                	parameterss += '&' + form_select_Ele[i].name + '=';
                	parameterss += form_select_Ele[i].value;
                	if(form_select_Ele[i].value == undefined || form_select_Ele[i].value =='' || form_select_Ele[i].value == null) {
                    	var boxcontent = "Please select the require options";
                    	alert(boxcontent);
                    	return false;
                	}
            	}
            	}
            }
            	var form_input_Ele =  productAddToCartForm.form.getElementsByTagName('input');
            	if(form_input_Ele != null && form_input_Ele != undefined && form_input_Ele.length > 0 ) {
            		for (var i = 0; i < form_input_Ele.length; i++ ) {
                		if(form_input_Ele[i].value !='') {
                    	parameterss += '&' + form_input_Ele[i].name + '=';
                    	parameterss += form_input_Ele[i].value;
                		}
                    	
                	}
            	}
            	
            	var form = jQuery("#product_addtocart_form");
//            	alert ( form.serialize() + "&" + cb_name + "=" + cb_value);
             var parameterss = form.serialize();
            	//alert ('hehe');
            	//alert (send_url);
            	new Ajax.Request(send_url+ parameterss,{ method:'get',parameters:parameterss,
                	onLoading:function () {
                    	var imgsrc='<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS)?>' + 'scriptaculous/spinner.gif';
                    	var htlm = '<div style="margin-left:200px"><img src="'+ imgsrc + '"</div>';
                    	
                    	jQuery.colorbox( {html:"<div>"  + htlm + "</div>" });
                	},
                	onSuccess: function () {
                		
                	var htmlboxy = '<div id="hnsuccessmessage" style=""> <strong>Item add to cart sucessfully </strong> </div>';
                		
                        jQuery.colorbox( {html:"<div>"  + htmlboxy + "</div>" });
                		updateCartTop();
                		updateCartSideBar();
                		var tbodyElement = document.getElementById('shopping-cart-table').getElementsByTagName('tbody')[0];
                  		if (tbodyElement != null && tbodyElement !=undefined) { 
                  		updateTbody();
                  		}
                  		if(window.updateTotalPrice) {
                			updateTotalPrice();
                			
                      	}  
                	}
                	});
            }


                /**
                *ajax cart from category page for simple product
                */


                function  mn_ajaxcart_addsimple(element) {
                      console.log('add simple product');  
                       $product_id = jQuery(element).data('productid');

                       var ajaxUrl = jQuery(element).data('addcartlink');
                      
                       if ( !isUrl(ajaxUrl) )  {
                           var ajaxUrl = '<?php echo  Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK)?>' + '/checkout/cart/add/product/' +  $product_id;

                       }
                       console.log(ajaxUrl);  
                       
                        if (ajaxUrl != undefined && ajaxUrl.length > 0) {

                           //////////////////////////////////////////////////////////////////////////
                           		new Ajax.Request(ajaxUrl, {
								  method: 'get',
								  onLoading:function () {
									  var imgsrc='<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS)?>' + 'scriptaculous/spinner.gif';
				                  	  var htlm = '<div style="margin-left:200px"><img src="'+ imgsrc + '"</div>';
				                  	  
				                  	   jQuery.colorbox( {html:"<div>"  + htlm + "</div>" });
				              	},
				              	onSuccess: function () {
				              		
				            	    var htmlboxy = '<div id="hnsuccessmessage" style=""> <strong>Item add to cart sucessfully </strong> </div>';

					            	jQuery.colorbox( {html:"<div>"  + htmlboxy + "</div>" });
				              		updateCartSideBar();
				              		updateCartTop();
				              		
				              		
				              		var tbodyElement = document.getElementById('shopping-cart-table').getElementsByTagName('tbody')[0];
				              		if (tbodyElement != null && tbodyElement !=undefined) { 
				              		    updateTbody();
				              		}
				              		
				              		if(window.updateTotalPrice) {
				        			    updateTotalPrice();
				              		}    
				                  	
				              	}
								});
                           //////////////////////////////////////////////////////////////////////////

                           }
                    }
      
      
jQuery(document).ready(function() {
    //add to cart function 
  	        
	function replacebut() {

		jQuery('.btn-cart').each(function(index,element) {
			  var $thisbutton = jQuery( this );
			  onclickAtt =  jQuery(element).attr('title');

			  onclickAtt =  $thisbutton.attr('onclick');

			  
              if (onclickAtt != undefined) {
            	  /** replace button for the Product Detail Page */
	            	if (onclickAtt.indexOf("productAddToCartForm") > -1) {
	            		  var addtocartlabel = '<?php echo $this->__('Add to cart') ?>';
	 	            	 var newbutton = "<div class='button btn-cart' onclick='mn_ajaxcart_step2(this)'  ><span> " + addtocartlabel + "</span> </div>";
                         if ($thisbutton.attr('data-replace') != 'yes' ){ 
	 	            	 $thisbutton.after(newbutton);
                         }
	 	            	$thisbutton.attr('data-replace' , 'yes');
	 	            	$thisbutton.hide();
	 	            	  //$thisbutton.unbind();

	            	}
	              /** End of Product detamil */
            	  
	              buyLink = onclickAtt.substr('setLocation'.length + 2)
	  	          buyLink = buyLink.substr(0, buyLink.length - 2);

	              $metaajaxcart  = jQuery(this).closest('.product-info').find('.magenestajaxcartmeta:first');

	              can_configure = $metaajaxcart.data('canconfigure');
	              
	              if ( jQuery(this).closest('#product_addtocart_form').length == 0 ) {
		              
	            	  $thisbutton.attr('data-addcartlink' , buyLink);
	            	  
	            	  $thisbutton.attr('onclick' , 'mn_ajaxcart_addsimple(this)');
	            	  
	              } else {
		              
	            	  //$thisbutton.attr('onclick' , 'mn_ajaxcart_step2(this)');

	            	//hide it add and new button
	            	// $thisbutton.hide();
                      var addtocartlabel = '<?php echo $this->__('Add to cart') ?>';
	            	 var newbutton = "<div class='button' onclick='mn_ajc_step1(this)'  ><span> " + addtocartlabel + "</span> </div>";

	            	// $thisbutton.after(newbutton);
	            	  
	            	  //$thisbutton.unbind();

	            	 // $thisbutton.off('click');
	            	 // setTimeout(function() { $thisbutton.off('click');} , 1000);

	            	  
	            	  
		              }
	            

	              /** update the product type and product id */

	              $metaajaxcart  = jQuery(this).closest('.product-info').find('.magenestajaxcartmeta:first');

	              $product_id = jQuery($metaajaxcart).data('productid');

	              if ( $product_id != undefined)  $thisbutton.attr('data-productid' , $product_id); 

	              
	              $product_type = jQuery($metaajaxcart).data('productype');
	              if ( $product_type != undefined) { 
		              
		               $thisbutton.attr('data-producttype' , $product_type);

		                } else {
		                	 $thisbutton.attr('data-producttype' , 'simple');
			                }
		  	         
              }

  	          
           
			});


		 //for configurable product and grouped producct
         if (jQuery('.actions a.button').length > 0) {
		 jQuery('.actions a.button').each(function() {
			    $thisbutton =jQuery(this);
                hrefAttr =  jQuery(this).attr('href');

                if (hrefAttr != undefined)  {
                	 jQuery(this).attr('data-addcartlink',hrefAttr );

                	 jQuery(this).attr('onclick' , 'mn_ajc_step1(this)');

                	 jQuery(this).attr('href' , '#');

                	 jQuery(this).html('<?php echo $this->__('Add to cart')  ?>');
                    }

                /** */
                  /** update the product type and product id */

	              $metaajaxcart  = jQuery(this).closest('.product-info').find('.magenestajaxcartmeta:first');

	              $product_id = jQuery($metaajaxcart).data('productid');

	              if ( $product_id != undefined)  $thisbutton.attr('data-productid' , $product_id); 

	              
	              $product_type = jQuery($metaajaxcart).data('productype');
	              if ( $product_type != undefined) { 
		              
		               $thisbutton.attr('data-producttype' , $product_type);

		                } else {
		                 $thisbutton.attr('data-producttype' , 'simple');
			            }
			 }); //end of foreach


        } //end if
		 
	}

	
	replacebut();


});
</script>




<div style="direction: none">
	<div id="ajaxcartdetail"></div>
</div>