<?php $categoryImage = Mage::getModel('catalog/layer')->getCurrentCategory()->getImage(); //Get the file name of the Image stored for the category ?>

<div class="m1-header-page">

	<?php if($categoryImage){ ?>
		<img src="<?php echo Mage::getBaseUrl('media').'catalog/category/'.$categoryImage  ?>" class="img-responsive" alt="Image">
	<? } ?>
    <p class="title">
      <span><?php echo Mage::getSingleton('catalog/layer')->getCurrentCategory()->getName() ?></span>
    </p>
    <?php echo $this->getChildHtml('breadcrumbs') ?>
</div>