@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGOode0-EuMkY--TSyExeINg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCOFnW3Jk0f09zW_Yln67Ac.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEo0As1BFRXtCDhS66znb_k.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.block-related{
	.product{
		height: auto;
	}
	width: 100% !important;
	.block-content{
		li.item{
		display: inline-block;
		}
	}
}
body{
	font-family: 'Source Sans Pro' !important;
	font-weight: 400;
}
.button{
	background-color: #EB1E49;
	border: 1px solid #EB1E49;
	span span{
		color: #fff;
		text-decoration: none;
	}
	&:hover{
		background-color: #fff;
		border: 1px solid #EB1E49;
		span span{
			color: #EB1E49;
		}
	}
}
.m1-product-grid{
	.item{
		position: relative;
		.m1-hover-image:hover {
			.m1-skip-product-info{
				display: block;
			}
		}
	}
	.m1-skip-product-info{
		display: none;
		width: 100%;
		height: 100%;
		background-color: #333;
		opacity: 0.9;
		position: absolute;
		top:0px;
		z-index: 999;
		.ratings{
			.m1-show-rating{
				display: none;
			}
		}
		.product-name{
			margin-top: 115px;
			a{
				color: #eee;
				text-transform: capitalize;
			}
			&:hover{
				a{
					color: #EB1E49;
				}
			}
		}
		.price-box{
			.regular-price{
				span{
					color: #eee;
					font-size: 14px;
				}
			}
			.old-price{
				span{
					color: #eee;
					font-size: 14px;
				}
			}
			.special-price{
				span{
					color: #eee;
					font-size: 14px;
				}
			}
		}
		.actions{
			position: relative;
			.button{
				background-color: transparent;
				border: 1px solid #eee;
				font-size: 12px;
				padding: 5px 10px;
			}
			.button:hover{
				border: 1px solid #EB1E49;
				color: #EB1E49;
			}
		}
		.link-wishlist, .link-compare{
			color: #EB1E49;
			font-size: 18px;
			position: absolute;
			top:10px;
			right: 10px;
			&:hover{
				color: #fff;
			}
		}
		.link-compare{
			top:40px;
			right: 10px;
		}
	}/*END SKIP PRODUCT INFO*/
	.product-info{
		padding-bottom: 35px;
		.product-name{
			text-align: left;
			margin-top: 10px;
			text-transform: capitalize;
			a{
				color: #222;
			}
		}
			.price-box{
				text-align: left;
			.regular-price{
				span{
					color: #6f6f6f;
					font-size: 14px;
				}
			}
			.old-price{
				span{
					color: #6f6f6f;
					font-size: 14px;
				}
			}
			.special-price{
				span{
					color: #6f6f6f;
					font-size: 14px;
				}
			}
		}
		.ratings{
			float: left;
		}
	}/*END PRODUCT INFO*/
}/*=========================================END GRID PRODUCT LAYERED=========================================*/
.cms-home{
	.m1-header-page{
		display: none;
	}
}
.m1-product-grid {
	.product-info{
		.ratings{
			.rating-box{
				float: left;
			}
			.m1-show-rating{
				float: left;
				i{
					margin-left: 10px;
					position: relative;
					top:-2px;
					color: #ccc;
				}
				.m1-skip-rating{
					position: absolute;
					display: none;
					width: 100%;
					min-height: 100%;
					top:0px;
					right: 0px;
					background-color: #333;
				}
			}
			.m1-hover-rating:hover{
				.m1-skip-rating{
					display: block;
				}
			}
		}
	}
}/*=========================================END GRID PRODUCT RATINGS=========================================*/

.m1-product-list{

	.item{
		.ratings{
			.rating-box{
				vertical-align: middle;
				display: inline-block;
				float: none;
			}
			.rating-links{
				float: none;
				vertical-align: middle;
				display: inline-block;
				font-size: 12px;
			}
		}
		.product-image{
			width: 30%;
		}
		.product-shop{
			width: 70%;
			.product-primary{
				width: 100%;
				.m1-title-border{
					border-bottom: 1px solid #ccc;
					display: inline-block;
					padding-bottom: 10px;
					margin-bottom: 10px;
					position: relative;
					a{
						text-transform: capitalize;
						color: #000;
						font-size: 24px;
					}
				}
				.m1-title-border::after{
					content: "";
					display: block;
					width: 60px;
					height: 5px;
					background-color: #EB1E49;
					position: absolute;bottom: -3px;
				}
			}
			.product-secondary{
				float: left;
				text-align: left;
				width: 100%;
				.price-box{
					padding: 10px 0;
					span{
						font-size: 36px;
						color: #555;
						font-weight: 600;
					}
					.old-price{
						span{
							font-size: 24px;
							color: #888;
						}
					}

				}
				.m-revert-btn{
					background-color: transparent;
					border: 1px solid #bbb;
					span span{
						color: #bbb;
					}
					color: #bbb;
					line-height: 25px;
					&:hover{
						background-color: #EB1E49;
						border: 1px solid #EB1E49 ;
						color: #fff;
						span{
							color: #fff;
						}
					}
				}
				.link-wishlist{
					font-size: 18px;
				}
			}
			.desc{
				width: 100%;
			}
		}
	}
}/*=========================================END LIST PRODUCT LAYERED=========================================*/

.sidebar{
	.block-layered-nav{
		.block-title{
			display: none;
		}
		#narrow-by-list{
			dt{
				position: relative;
				border: none;
				background-color: transparent;
				border-bottom: 1px solid #ccc;
				text-transform: capitalize;
				font-size: 18px;
				padding-left: 0px;

				&::before{
					content: "";
					display: block;
					width: 60px;
					height: 5px;
					background-color: #EB1E49;
					position: absolute;
					bottom: -3px;
					left: 0px;
				}
			}
			dd{
				padding-left: 0px;
				border: none;
				ol li a{
					padding-left: 0px;
					color: #555;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
		#narrow-by-list dd .swatch-label{
			background-color: #fff;
			border-radius: 0px;
			padding: 10px;
			font-size: 14px;
			margin-top: 10px;
			img{
				width: 100%;
				height: 100%;
				border-radius: 0px;
				border: none;
			}
		}
		.configurable-swatch-list{
			li{
				display: inline-block;
				width: auto !important;
				.count{
					display: none;
				}
				a{
					padding: 0px !important;
				}
			}
		}
	}
}/*=========================================END LIST PRODUCT LAYERED=========================================*/
.toolbar-bottom{
	.toolbar{
		margin-left: 0px;
		padding-left: 0px;
		.pager{
			.count-container{
				display: none;
			}
		}
		.pages{
			li:hover{
				a{
					background-color: #EB1E49;
					border: transparent;
					color: #fff;
				}
			}
				margin-left: 0px;
				.current{
					background-color: #EB1E49;
					border: transparent;
					color: #fff;
				}
			}
		.sorter{
			display: none;
		}
	}
}
.toolbar{
	border: none;
	background-color: transparent;
		select{
			height:32px;
			background-color: #fff;
			border: 1px solid #ccc;
			&:hover{
				border: 1px solid #ccc;
			}
		}

	.pager{
		color: #222;
		margin: 0px;
		float: left;
		font-size: 14px;
		.pages ol li a{
			border-radius: 0px;
			margin: 0 5px;
			padding: 0px;
		}
	}
	.sorter{
		float: right;
		.sort-by{
			float: right;
			margin-left: 20px;
		}
		.view-mode{
			.grid{
				border: 1px solid #ccc;
				background-position: 7px -493px;
				&:hover{
					background-position: -42px -493px;
				}
				&:focus{
					background-position: -42px -493px;
				}
			}
			.list{
				border: 1px solid #ccc;
				background-position: 6px -518px;
				&:hover{
					background-position: -45px -518px;
				}
			}
		}
	}
}/*=========================================END LIST TOOLBAR=========================================*/
.m1-footer{
	.m1-content-list{
		
	}
	.m1-footer-fluid{
		padding-bottom: 20px;
		background-color: #222;
	}
	.m1-footer-title{
		padding-top: 25px;
		font-size: 22px;
		color: #eee;
		border-bottom: 1px solid #666;
		padding-bottom: 10px;
		position: relative;
		&::after{
			content: "";
			position: absolute;
			display: block;
			width: 55px;
			height: 3px;
			background-color: #EB1E49;
			bottom: -2px;
			left: 0px;
		}
	}
	ul{
		padding: 0px;
		li{
			p{
				padding: 0px;
				margin: 0px;
			}
			padding-top: 10px;
			list-style: none;
			a{
				color: #aaa;
				&:hover{
					color: #fff;
					text-decoration: underline;
				}
			}
		}
	}
	ul li{
		.fa{
			color: #ccc;
		}
	}
	.m1-f-contact {
		li{
			display: block;
			padding-bottom: 10px;
			overflow: hidden;
			i{
				position: relative;
				top:4px;
				color: #aaa;
				font-size: 24px;
				border: 1px solid #aaa;
				padding: 8px 0;
				display: inline-block;
				float: left;
				width: 15%;
				text-align: center;
				margin-right: 5%;
			}
			a, p{
				width: 80%;
				display: block;
				text-align: justify;
				float: left;
				color: #aaa;
			}

		}
	}
}/*=========================================END FOOTER========================================*/
.footer{
	border-top: none;
.m1-newsletter{/*=========================================START NEWSLETTER========================================*/
		padding: 10px 0px;
		overflow: hidden;
		border-top: 1px solid #ccc;
		.block-subscribe{
			width: auto;
			float: left;
			margin: 0px;
			.block-title{
				width: 200px;
				float: left;
				margin-right: 10px;
				span{
					color: #3f3f3f;
					font-size: 24px;
					text-transform: capitalize;
				}
			}
			form{
				margin-left: 30px;
				margin-top: 15px;
				float: left;
				.block-content{
					padding-top: 0px;
					margin-top: 0px;
				}
				.input-box input{
					height: 44px;
					width: 315px;
					border: 1px solid #444;
				}
				.actions{
					button{
					 	height: 44px;
					 	background-color: #fff;
					 	border: 1px solid #444;
					 	float: right;
					 	span span{
					 		color: #444;
					 	}
					 	&:hover{
					 		background-color: #EB1E49;
					 		border: none;
					 		span span{
					 		color: #fff;
					 	}
					 	}
					}
				}
			}
		}
		.m1-paypay{
			float: right;
		}
	}
}

	/*=========================================END FOOTER========================================*/

/*=========================================HOME EDIt========================================*/
	#header{
		margin: 0px;
		padding: 0px;
		border: none;
	}
	#header-nav{
		border-bottom: none;
	}
	.col2-left-layout{
		.page-title{
			display: none;
		}
	}
	.col1-layout{
			padding: 0px !important;
			margin: 0px;
			width: 100%;
			max-width: 100%;
		.main{
			padding: 0px;
			margin: 0px;
			width: 100%;
			max-width: 100%;
			.col-main{
				max-width: 100%;
				padding: 0px;
				margin: 0px;
				width: 100%;
			}
		}
	}
	.main-container{
		padding:0px;
		margin: 0px;
		max-width: 100%;
	}
	.main{
		padding: 30px;
		max-width: 1200px;
		margin: 0 auto;
	}
	.m1-header-page{
		position: relative;
		z-index: 9;
		&::after{
			content: "";
			background-color: rgba(0, 0, 0, 0.7);
			position: absolute;
			z-index: 99;
			top:0px;
			bottom: 0px;
			left: 0;
			right: 0;
		}
		background-image: url("../assets/img/slide3.png");
		background-position: center;
		padding: 100px 0px;
		width: 100%;
		
		text-align: center;
		.title{
			z-index: 999;
			font-size: 28px;
			font-family: "Roboto";
			text-transform: uppercase;
			color: #fff;
			border-bottom: 1px solid #666;
			display: inline-block;
			padding-bottom: 25px;
			position: relative;
			&::after{
				z-index: 999;
				position: relative;
				content: "";
				width: 53px;
				height: 5px;
				display: block;
				background-color: #EB1E49;
				position: absolute;
				bottom: -3px;
				left: 50%;
				margin-left: -26px;
			}
		}
		.breadcrumbs{
			z-index: 999;
			position: relative;
			margin: 0px;
			margin-top: 25px;
			ul li{
				float: none;
				display: inline-block;
				vertical-align: middle;
				font-size: 15px;
				text-transform: uppercase;
				color: #fff;
				span{
					float: none;
					padding: 0 14px 0 16px;
					font-size: 18px;
					vertical-align: middle;
				}
				&:last-child strong{
					color: #EB1E49;

				}
				a{
					float: none;
					color: #fff;
					display: inline-block;
					vertical-align: middle;
				}
			}

		}
	}
@media(min-width:768px){
	/*=========================================NEW ADD HEADER========================================*/
	.block-compare{
		.button{
			background-color: #EB1E49 !important;
			border: 1px solid #EB1E49;
			span span{
				color: #fff;
				text-decoration: none;
			}
			&:hover{
				background-color: #fff;
				border: 1px solid #EB1E49;
				span span{
					color: #EB1E49;
				}
			}
		}
	}
	.m1-newsletter-container{
		max-width: 1200px;
		margin: 0 auto;
	}
	.m1-main-footer{
		margin:0 auto;
		max-width: 1200px;
	}
	.m1-tablet-show{
		display: none !important;
	}
	.page-header-container{
		max-width: 1200px;
		margin: 0 auto;
	}
	.store-language-container{
		padding: 10px !important;
		#select-language{
		    background-color: transparent;
		    border: 1px solid #ccc;
		    padding: 2px 5px;
			}
		}
	#shopping-cart-table{
		font-size: 16px;
		width: 100%;
			th, td{
				border: 1px solid #CCCCCC;
			}
			th{
				text-align: center;
			}
			tfoot{
				button{
					background-color: #EB1E49;
					border: 1px solid #EB1E49;
					padding: 0 12px;
					span span{
						color: #fff;
						text-decoration: none;
					}
					&:hover{
						background-color: #fff;
						border: 1px solid #EB1E49;
						span span{
							color: #EB1E49;
						}
					}
				}
			}
		.product-cart-total{
			.price{
				color: #EB1E49;
				font-weight: 600;
				font-size: 18px;
			}
		}
	}
	.product-cart-info{
		.product-name{
			font-size: 18px;
			color: #333;
			text-transform: capitalize;
		}
		.product-cart-sku, .label{
			color: #666;
			font-style: normal;
			font-size: 14px;
			padding: 0px;
		}
		.label{
			font-style: italic;
		}
		.item-options{
			margin-left: 0px !important;
			padding: 0px;
		}
	}
	.cart-forms{
		width: 49%;
		float: left;
		padding: 0px;
	}
	.cart-totals-wrapper{
		width: 49%;
		margin-left: 2%;
		.price{
			font-weight: bold;
		}
	}
	.minicart-wrapper{
		padding: 10px;
		.block-subtitle{
			text-align: center;
		}
		li{
			border-bottom: 1px solid #ccc;
			padding-bottom: 10px;
		}
		.minicart-actions{
			text-align: center;
			.button{
				background-color: #EB1E49;
				border: 1px solid #EB1E49;
				span span{
					color: #fff;
					text-decoration: none;
				}
				&:hover{
					background-color: #fff;
					border: 1px solid #EB1E49;
					color: #EB1E49;
					span span{
						color: #EB1E49;
					}
				}
			}
		}
		.block-content{
			text-align: center;
			font-size: 24px;
			.subtotal{
				.label{
					display: none;
				}
			}
		}
		.product-details{
			.product-name{
				padding-top:0px;
				font-weight: bold;
			}
			.info-wrapper{
				.price{
					color: #EB1E49;
				}
			}
			.truncated{
				display: none;
			}
		}
	}
	.main{
		padding:30px !important;
		.breadcrumbs{
			display: none;
		}
	}
	.cms-home{
		.main{
			padding:0px !important;
		}
	}

	#header-nav{
		.container{
			width: 1200px;
		}
	}
	.product-view{
		.toggle-content{
			ul {
				border: none;
				background-color: #fff;
				border-bottom: 1px solid #ccc;
				li{
					border: none !important;
					line-height: 60px;
					span{
						font-size: 18px;
						color: #999;
					}
					&.current span{
						color: #333;
					}
				}
			}
			#collateral-tabs{
				dd {
					border: none;
				}
			}
		}
		.product-essential{
			.product-img-box{
				overflow: hidden;
				width: 66%;
				.product-image{
					width: 50%;
					float: right;
				}
				.more-views{
					h2{
						display: none;
					}
					max-width: 49%;
					float: left;
				}
				.product-image-thumbs{
					li{
						margin: 0px;
						width: 50%;
						float: left;
						a{
							border: 1px solid #ccc;
						}
					}
				}
			}
			.add-to-cart-wrapper{
				width: 33%;
			}
				.product-options-bottom,
				.add-to-box{
					border: none;
					padding:10px 0;
					background-color: transparent;
					.sharing-links{
						display: none;
					}
					.add-to-links{
						width: 100%;
						line-height: left;
						li:first-child{
							width: 46%;
							float: left;
						}
						li:last-child{
							width: 46%;
							float: right;
						}
						li{
							a{
								border: none;
								display: inline-block;
								width: 50px;height: 50px;
								border: 1px solid #ccc;
								text-align: center;
								margin: 0px; padding:0px;
								font-size: 24px;
								line-height: 50px;
								margin-right: 10px;
								color: #ccc;
								&:hover{
									background-color: #EB1E49;
									border: 1px solid #EB1E49;
									color: #fff;
								}
							}
						}
					}
					.qty-wrapper{
						width: 46%;
						height: 50px;
						border: 1px solid #ccc;
						label{
							line-height: 50px;
							width: 65%;
							float: left;border-right: 1px solid #ccc;
							margin: 0px;
							padding-left: 10px;
							font-size: 16px;
							font-weight: normal;
						}
						input{
							width: 35%;
							float: left;
							line-height: 50px;
							border: none;
							height: 48px;
						}
					}
					.add-to-cart{
						border: none;
					}
					.add-to-cart-buttons{
						width: 46%;
						margin:0px;
						float: right;
						button{
							width: 100%;
							padding: 3px 0;
							text-align: center;
							height: 50px;
						}
					}
				}
			.product-shop{
				width: 33%;
				float: right;
				.product-options{ /*===========================CSS SWATCH OPTION PRODUCT+++++++++++++++++++++++++*/
					// border-top: 1px solid #ccc;
					border: none;
					padding-left: 0px;
					padding-right: 0px;
					padding-bottom: 0px;
					p.required{
						display: none;
					}
					dl{
						overflow: hidden;
						margin-bottom: 0px;
						dt{
							display: none;
						}
						dd{
							clear: none;
							width: 46%;
							float: left;
							display: block;
							select{
								display: block !important;
								width: 100%;
								float: left;
								height: 50px;
								option{
									font-size: 18px;
								}
								background-color: transparent;
							}
							ul{
								display: none;
							}
						}
						dd.last{
							float: left !important;
							margin-left: 8%!important;
						}
					}
				}

				.product-name{
					width: 100%;
					span{
						color: #555;
						text-transform: capitalize;
						font-family: 'Roboto';
					}
				}
				.extra-info{
					width: 100%;
					.ratings{
						width: 100%;
						.rating-links{
							margin-top: 5px;
							a{
								font-size: 12px;
								color: #aaa;
								&:hover{
									color: #EB1E49;
								}
							}
						}
					}
				}
				.price-info{
					width: 100%;
					float: left;
					text-align: left;
					padding-left: 0px;
					.price-box{
						.regular-price{
							span{
								color: #555;
								font-size: 28px;
							}
						}
						.old-price{
							span{
								color: #eee;
								font-size: 14px;
							}
						}
						.special-price{
							span{
								color: #eee;
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}/*========================END PRODUCT DETAILS ===================================*/

	.registered-users{
		border: 1px solid #ccc;
		padding: 40px !important;
		margin: 0 auto;
		float: none !important;
		.buttons-set{
			text-align: center !important;
			display: inline-block;
			float: none;
			width: 100%;
				button{
					width: 80%;
					margin: 0 auto;
					float: none;
					text-align: center;
					height: 46px;

				}
			}
		.fieldset{
			text-align: center;
			h2{
				font-size: 36px;
			}
		}
		.form-list{
			padding: 0px !important;
			li{
				list-style: none;
				.input-box{
					input{
						width: 80%;
						height: 46px;
						background-color: #fff;
					}
				}
			}
			.m-login-form{
				a{
					color: #EB1E49;
					&:hover{
						text-decoration: underline;
					}
				}
				a:first-child{
					float: left;
					margin-left: 10%;
				}
			}
		}
	}/*========================END REGITER ==================================*/

	.page-header{
		.m1-max-768-cart-links{
			a{
				.label{
					display: none;
				}
			}
			.skip-link{
				float: right;
			}
			.links{
				ul li:nth-child(1),
				ul li:nth-child(3),
				ul li:nth-child(4){
					display: none;
				}
				float: right;
				li{
					display: inline-block;
					a{
						border-right: 1px solid #ccc;
						line-height: 40px;
						padding:0 10px;
						color: #555;
					}
				}
			}
		}
	}
		.account-cart-wrapper{
			display: none;
		}
		
		#header-search{
			display: none;
		}

}
/*=========================================END MWDIA WIDTH 768px=========================================*/
@media(max-width:768px){
	.nav-primary{
		margin-left: 0px !important;
		li a:hover{
			background-color: transparent !important;
		}
		li ul{
			li{
				padding: 0px !important;
			}
		}
	}
	.all-categories{
		display: none;
	}
	.m1-max-768-cart-links{
		display: none;
	}
	.store-language-container{
		display: none;
	}
	.sidebar{
		display: none;
	}
	.m1-hover-image:hover {
		.m1-skip-product-info{
			display: none !important;
		}
	}
		.product-shop{
		width: 33%;
		float: right;
		.product-options{
			border-top: 1px solid #ccc;
		}
		.product-options-bottom{
			border: none;
			padding:10px 0;
			background-color: transparent;
			.sharing-links{
				display: none;
			}
			.add-to-links{
				width: 100%;
				line-height: left;
				li:first-child{
					width: 46%;
					float: left;
				}
				li:last-child{
					width: 46%;
					float: right;
				}
				li{
					a{
						border: none;
						display: inline-block;
						width: 50px;height: 50px;
						border: 1px solid #ccc;
						text-align: center;
						margin: 0px; padding:0px;
						font-size: 24px;
						line-height: 50px;
						margin-right: 10px;
						color: #ccc;
						&:hover{
							background-color: #EB1E49;
							border: 1px solid #EB1E49;
							color: #fff;
						}
					}
				}
			}
					.qty-wrapper{
						width: 46%;
						height: 50px;
						border: 1px solid #ccc;
						label{
							line-height: 50px;
							width: 65%;
							float: left;border-right: 1px solid #ccc;
							margin: 0px;
							padding-left: 10px;
							font-size: 16px;
							font-weight: normal;
						}
						input{
							width: 35%;
							float: left;
							line-height: 50px;
							border: none;
							height: 48px;
						}
					}
					.add-to-cart{
						border: none;
					}
					.add-to-cart-buttons{
						width: 46%;
						margin:0px;
						float: right;
						button{
							width: 100%;
							padding: 3px 0;
							text-align: center;
							height: 50px;
						}
					}
				}
				.product-name{
					width: 100%;
					span{
						color: #555;
						text-transform: capitalize;
						font-family: 'Roboto';
					}
				}
				.extra-info{
					width: 100%;
					.ratings{
						width: 100%;
						.rating-links{
							margin-top: 5px;
							a{
								font-size: 12px;
								color: #aaa;
								&:hover{
									color: #EB1E49;
								}
							}
						}
					}
				}
		.ratings{
			overflow: hidden;
			.rating-box{
				vertical-align: middle;
				display: inline-block;
				float: none;
			}
			.rating-links{
				float: none;
				vertical-align: middle;
				display: inline-block;
				font-size: 12px;
			}
		}
		.price-info{
			width: 100% !important;
			float: left!important;
			text-align: left !important;
			padding-left: 0px !important;
			.price-box{
				.regular-price{
					span{
						color: #555;
						font-size: 28px;
					}
				}
				.old-price{
					span{
						color: #eee;
						font-size: 14px;
					}
				}
				.special-price{
					span{
						color: #eee;
						font-size: 14px;
					}
				}
			}
		}
		
	}

	.m1-newsletter {
		.block-subscribe {
			.block-title{
				width: 100% !important;
				text-align: left;
			}
		}
		#newsletter-validate-detail{
			width: 90%;
			float: left;
			margin: 10px;
		}
		.actions{
			float: left;
			width: auto;
		}
		.m1-paypay {
			display: inline-block;
			text-align: center;
			width: 100%;
			float: none !important;
		}
	}
	.toolbar{
		.sorter{
			.sort-by{
				float: right;
			}
			.view-mode{
				float: left;
			}
		}
	}
}

