/*url*/
@url-image              : '../img/';

/*background-color*/
@bg-theme: #FFFFFF ;

@bg-theme-two: #ECEDF1 ;

/*color*/
@color-theme:	#e31a64;

@color-font-base:	#000000;

@color-link:	@color-theme;

@color-link-hover:	#846ed6;

@color-border: #e2e2e2;
@color-border-hover:	#846ed6;

@white:	#ffffff;

@black: #000000;

/*fonts*/
@font-family-once	   : "Source Sans Pro";
@font-family-two  		: "Roboto";
@font-family-three      : "Roboto" ;
