/* header */
#header{
	.links{
		li a{
			color: $m-link-color1;
			font-family: $m-font1;
			font-size: 14px;
			text-transform: uppercase;
		}
	}
}
#header-nav{
	.title-all-categories{
		font-size:15px;
		font-family: $m-font1;
	}
	.nav-primary{
		li a{
			font-size:15px;
			font-family: $m-font1;
		}
	}
}

.home2-new-hot{
	h1{
		font-family: $m-font2;
		font-size: 50px !important;
		color: $m-base-color;
	}
}

/*===================================================== home 2 TAB ===================================================== */
.home2-tab{
	.nav-tabs{
		font-size:55px;
		font-family: $m-font1;
	}
}
#f1_container{
	.m1-static-review{
		img{
			width: 90%;
		}
	}
}
#home2-owl{
	
}


/*===================================================== home 2 CLIENT ===================================================== */

.home2-client{
	.ratings-table{
		th{
			color: #fff;
			padding-right: 20px;
		}
	}
}