.m-hover-eff{
		position: relative;
	.m-skiphover{
		background: rgba(0,0,0,0.9);
		position: absolute;
		top:-120%;
		width: 100%;
		height: 100%;

		.name{
			text-align: center;
			display: block;
			margin-top: 110px;
			font-size: 16px;
			font-family: $m-font2;
			color: #fff;
			&:hover{
				color: $m-base-blue;
			}
		}
		.price-box{
			text-align: center;
			.price{
				color: #fff !important;
				font-family:$m-font1;
			}
			p{
				margin-bottom:0px;
			}
			a{
				color: #fff;
				font-family:$m-font1;
				&:hover{
					color:$m-base-blue;
				}
			}
		}

		.ratings{
			padding: 10px 0;
			.rating-box{
				margin: 0 auto;
			}
			text-align:center;
			.rating-links{
				a, span{
					color:#fff;
					&:hover{
						color:$m-base-blue;
					}
				}
			}
		}
		.actions{
			text-align: center;
			a, button{
				background-color:transparent;
				border-color: #fff;
				padding: 6px 8px;
				font-size: 12px;
				font-family: $m-font2;
			}
			a:hover, button:hover{
				background-color:transparent;
				border-color:$m-base-blue;
				color :$m-base-blue;
				span{
					color :$m-base-blue;
				}
			}
		}
		.link-wishlist, .link-compare{
			position: absolute;
			right:8px;
			top:0px;
			color: $m-base-blue;
			font-size:18px;
			&:hover{
				color:#fff;
			}
		}
		.link-compare{
			top: 30px;
		}
	}

	.img-hover:hover + .m-skiphover{
		display: block;
		top:0px;
		transition: all 0.3s;
	}
	.m-skiphover:hover{
		display: block;
		top:0px;
		transition: all 0.3s;
	}
}
