.nav-primary > li:hover .mega {
  display: block;
}
.nav-primary .mega {
  position: absolute;
  left: 0;
  right: 0;
  width: 1000px;
  z-index: 9999;
  background-color: #FBFBFB;
  border: 1px solid #ddd;
  display: none;
  padding: 20px;
}
.nav-primary .mega .right-10 {
  width: 100%;
}
.nav-primary .mega .right-9 {
  width: 90%;
}
.nav-primary .mega .right-8 {
  width: 80%;
}
.nav-primary .mega .right-7 {
  width: 70%;
}
.nav-primary .mega .right-6 {
  width: 60%;
}
.nav-primary .mega .right-5 {
  width: 50%;
}
.nav-primary .mega .right-4 {
  width: 40%;
}
.nav-primary .mega .right-3 {
  width: 30%;
}
.nav-primary .mega .right-2 {
  width: 20%;
}
.nav-primary .mega .right-1 {
  width: 10%;
}
.nav-primary .mega .right-1,
.nav-primary .mega .right-2,
.nav-primary .mega .right-3,
.nav-primary .mega .right-4,
.nav-primary .mega .right-5,
.nav-primary .mega .right-6,
.nav-primary .mega .right-7,
.nav-primary .mega .right-8,
.nav-primary .mega .right-9,
.nav-primary .mega .right-10,
.nav-primary .mega .right-11,
.nav-primary .mega .right-12 {
  float: left;
  display: block;
  position: relative ;
  top: 0;
  border: none;
}
.nav-primary .mega .column-1 li,
.nav-primary .mega .column-2 li,
.nav-primary .mega .column-3 li,
.nav-primary .mega .column-4 li,
.nav-primary .mega .column-5 li,
.nav-primary .mega .column-6 li,
.nav-primary .mega .column-7 li,
.nav-primary .mega .column-8 li,
.nav-primary .mega .column-9 li,
.nav-primary .mega .column-10 li,
.nav-primary .mega .column-11 li,
.nav-primary .mega .column-12 li {
  float: left;
}
.nav-primary .mega .column-10 > li {
  width: 10%;
}
.nav-primary .mega .column-10 > li:nth-child(10n+1) {
  clear: both;
}
.nav-primary .mega .column-9 > li {
  width: 11.1111%;
}
.nav-primary .mega .column-9 > li:nth-child(9n+1) {
  clear: both;
}
.nav-primary .mega .column-8 > li {
  width: 12.5%;
}
.nav-primary .mega .column-8 > li:nth-child(8n+1) {
  clear: both;
}
.nav-primary .mega .column-7 > li {
  width: 14.2857%;
}
.nav-primary .mega .column-7 > li:nth-child(7n+1) {
  clear: both;
}
.nav-primary .mega .column-6 > li {
  width: 16.6667%;
}
.nav-primary .mega .column-6 > li:nth-child(6n+1) {
  clear: both;
}
.nav-primary .mega .column-5 > li {
  width: 20%;
}
.nav-primary .mega .column-5 > li:nth-child(5n+1) {
  clear: both;
}
.nav-primary .mega .column-4 > li {
  width: 25%;
}
.nav-primary .mega .column-4 > li:nth-child(4n+1) {
  clear: both;
}
.nav-primary .mega .column-3 > li {
  width: 33.3333%;
}
.nav-primary .mega .column-3 > li:nth-child(3n+1) {
  clear: both;
}
.nav-primary .mega .column-2 > li {
  width: 50%;
}
.nav-primary .mega .column-2 > li:nth-child(2n+1) {
  clear: both;
}
.nav-primary .mega .column-1 > li {
  width: 100%;
}
.nav-primary .mega .column-1 > li:nth-child(1n+1) {
  clear: both;
}
