.cms-home2 .last-product-left img {
  border: 1px solid #ccc !important;
}
.cms-home2 .last-product-right .big-img img {
  border: 1px solid #ccc !important;
}
.cms-home2 #home2-last-img-owl .owl-item img {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
}
.cms-home2 #home2-last-img-owl .owl-item {
  padding-top: 15px;
  padding-right: 15px;
}
.cms-home2 .last-product-left .title {
  line-height: 60px;
  font-size: 24px;
  text-transform: capitalize;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 20px;
}
.cms-home2 .last-product-left .title::after {
  content: "";
  width: 60px;
  height: 5px;
  background-color: #59B5E4;
  position: absolute;
  bottom: -3px;
  left: 0px;
}
.cms-home2 .last-product-left .price {
  color: #999;
  font-size: 28px;
}
.cms-home2 .tab-pane .owl-item {
  padding: 15px;
}
.cms-home2 .tab-pane .owl-item img {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
}
.cms-home2 .tab-pane .product-name {
  overflow: hidden;
  padding-top: 20px;
}
.cms-home2 .tab-pane .product-name a {
  color: #322;
  font-size: 16px;
  text-transform: capitalize;
}
.cms-home2 .tab-pane .price {
  font-size: 16px;
  color: #666;
}
.cms-home2 #home2-deal-owl {
  margin-top: 40px;
}
.cms-home2 #home2-deal-owl .product-name {
  overflow: hidden;
  padding-top: 20px;
}
.cms-home2 #home2-deal-owl .product-name a {
  color: #322;
  font-size: 16px;
  text-transform: capitalize;
}
.cms-home2 #home2-deal-owl .price {
  font-size: 16px;
  color: #666;
}
.cms-home2 .home2-fluid {
  padding: 0px;
}
.cms-home2 .home2-fluid .nav-tabs li {
  margin-left: 0px;
}
.cms-home2 .home2-tab .nav-tabs > li,
.cms-home2 .home2-tab .nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  zoom: 1;
  /* hasLayout ie7 trigger */
}
.cms-home2 .home2-tab .nav-tabs,
.cms-home2 .home2-tab .nav-pills {
  text-align: center;
}
.cms-home2 #home2-owl {
  position: relative;
}
.cms-home2 #home2-owl .gray-opicity {
  position: absolute;
  top: 0px;
  left: 0%;
  width: 200%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.cms-home2 #home2-owl .owl-item {
  max-height: 440px;
}
.cms-home2 #home2-owl h1 {
  left: 30%;
  right: 30%;
  font-size: 72px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 120px;
  z-index: 1;
}
.cms-home2 .home2-new-hot h1 {
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-size: 58px;
  font-weight: bold;
  line-height: 120px;
}
.cms-home2 .home2-tab .tab-content .tab-pane .home2-countdown {
  text-align: center;
}
.cms-home2 .home2-tab .tab-content .tab-pane .home2-countdown .m1-count-down {
  margin: 0px;
  color: #666;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px;
}
.cms-home2 .home2-tab .tab-content .tab-pane .home2-countdown .m1-count-down li {
  padding: 0 10px;
  display: inline-block;
  margin: 0px;
  border-right: 1px solid #ccc;
}
.cms-home2 .home2-tab .tab-content .tab-pane .home2-countdown .m1-count-down li span {
  line-height: 14px;
  float: left;
  width: 100%;
  font-size: 14px;
}
.cms-home2 .home2-tab .tab-content .tab-pane .home2-countdown .m1-count-down li .m1-number {
  line-height: 36px;
  font-size: 36px;
}
.cms-home2 .home2-tab .tab-content .tab-pane .home2-countdown .m1-count-down li:last-child {
  border: none;
}
.cms-home2 .home2-tab ul {
  border: none;
  margin-top: 30px;
  margin-bottom: 0px;
}
.cms-home2 .home2-tab ul li a {
  line-height: 40px;
  font-size: 24px;
  border: none !important;
}
.cms-home2 .home2-tab ul li a:hover {
  border: none;
  border-bottom: 1px solid #333 !important;
}
.cms-home2 .home2-banner2 {
  max-height: 480px;
}
.cms-home2 .home2-last-product > h2,
.cms-home2 .home2-last-product > p {
  text-align: center;
  padding: 0 150px;
}
.cms-home2 .home2-last-product > p {
  margin-bottom: 50px;
}
.cms-home2 .home2-last-product h2 {
  font-size: 24px;
  padding-top: 60px;
}
.cms-home2 .home2-last-product h2 p {
  position: relative;
  border-bottom: 4px solid #59B5E4;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.cms-home2 .home2-last-product p {
  color: #666;
}
.cms-home2 .home2-client {
  margin-top: 100px;
}
.cms-home2 .home2-client h2,
.cms-home2 .home2-client p {
  text-align: center;
  margin-bottom: 10px;
}
.cms-home2 .home2-client h2 p,
.cms-home2 .home2-client p p {
  border-bottom: 4px solid #4A8CF7;
  display: inline-block;
  padding-bottom: 10px;
}
.cms-home2 .home2-client > p {
  margin-bottom: 50px;
}
.cms-home2 .home2-client h2 {
  color: #333;
  font-size: 24px;
}
.cms-home2 .home2-client > p {
  padding: 0 150px;
  color: #999;
}
.cms-home2 .home2-client .item-comment {
  position: relative;
  margin: 0 10px;
  overflow: hidden;
}
.cms-home2 .home2-client .item-comment .m1-ishover {
  visibility: hidden;
  position: absolute;
  top: -100%;
  right: 0;
  left: 0;
  height: 100%;
  background-color: #59B5E4;
  z-index: 99;
  color: #fff;
}
.cms-home2 .home2-client .item-comment .m1-ishover a {
  color: #fff;
}
.cms-home2 .home2-client .item-comment:hover .m1-ishover {
  visibility: visible;
  top: 0;
  height: 100%;
  transition: all 0.4s;
}
.cms-home2 .home2-client .item-comment .m1-static-review {
  border: 1px solid #ccc;
  z-index: 80;
  position: relative;
}
.cms-home2 .home2-client .item-comment .m1-static-review .name-reviewer {
  margin-top: 20px;
  margin-bottom: 0px;
}
.cms-home2 .home2-client .item-comment .m1-static-review .date-review {
  font-size: 14px;
  font-style: italic;
}
.cms-home2 .home2-client .item-comment .m1-static-review .productname-review {
  font-size: 20px;
}
.cms-home2 .home2-client #f1_container {
  padding: 10px;
  position: relative;
  width: 100%;
  height: 380px;
  z-index: 1;
}
.cms-home2 .home2-client #f1_container {
  perspective: 1000;
}
.cms-home2 .home2-client #f1_card {
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.2s linear;
}
.cms-home2 .home2-client #f1_container:hover #f1_card {
  transform: rotateY(180deg);
}
.cms-home2 .home2-client .face {
  position: absolute;
  backface-visibility: hidden;
}
.cms-home2 .home2-client .face p {
  margin-bottom: 0px;
}
.cms-home2 .home2-client .face .name-reviewer {
  margin-top: 20px;
  margin-bottom: 0px;
}
.cms-home2 .home2-client .face .date-review {
  font-size: 14px;
  font-style: italic;
}
.cms-home2 .home2-client .face .productname-review {
  font-size: 20px;
}
.cms-home2 .home2-client .face.back {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 20px;
  color: white;
  background-color: #4A8CF7;
  padding-top: 50px;
}
.cms-home2 .home2-client .face.back .avatar-client i {
  display: inline-block;
  width: 100px;
  line-height: 100px;
  border-radius: 100%;
  border: 1px solid #fff;
  font-size: 60px;
  background-color: #fff;
  color: #4A8CF7;
  margin-bottom: 20px;
}
/*END HOME 2*/
@media (max-width: 768px) {
  .home2-client {
    display: none;
  }
  .home2-last-product h2,
  .home2-last-product p {
    margin: 0px;
    padding-top: 20px;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .last-product-right {
    display: none;
  }
  #home2-owl .gray-opicity {
    display: none;
  }
  #home2-owl h1 {
    display: none;
  }
  .home2-new-hot {
    display: none;
  }
  .home2-new-hot div > div {
    margin-top: 30px;
  }
  .home2-new-hot h1 {
    display: none;
  }
  .product-fluid {
    display: none;
  }
  .m1-count-down {
    display: none !important;
  }
  .m1-newsletter {
    display: none;
  }
  .bot-banner {
    display: none;
  }
}
