.cms-home2{
	.last-product-left{
		img{
			border: 1px solid #ccc !important;
		}
	}
	.last-product-right{
		.big-img{
			img{
				border: 1px solid #ccc !important;
			}
		}
	}
	#home2-last-img-owl{
		.owl-item img{
		  display: block;
		  width: 100%;
		  height: auto;
		  border: 1px solid #ccc;
		}
		.owl-item{
		  padding-top: 15px;
		  padding-right: 15px;
		}
	}
	.last-product-left{
		.title{
			line-height: 60px;
			font-size: 24px;
			text-transform: capitalize;
			border-bottom: 1px solid #ccc;
			padding-bottom: 10px;
			position: relative;
			margin-bottom: 20px;
			&::after{
					content: "";
					width: 60px;
					height: 5px;
					background-color: #59B5E4;
					position: absolute;
					bottom: -3px;
					left: 0px;
				}
		}
		.price{
			color: #999;
			font-size: 28px;
		}
	}
	.tab-pane{
		.owl-item{
		  padding: 15px;
		}
		.owl-item img{
		  display: block;
		  width: 100%;
		  height: auto;
		  border: 1px solid #ccc;
		}
		.product-name{
			overflow: hidden;
			padding-top: 20px;
		}
		.product-name a{
			color: #322;
			font-size: 16px;
			text-transform: capitalize;
		}
		.price{
			font-size: 16px;
			color: #666;
		}
	}

	#home2-deal-owl{
		.product-name{
			overflow: hidden;
			padding-top: 20px;
		}
		.product-name a{
			color: #322;
			font-size: 16px;
			text-transform: capitalize;
		}
		.price{
			font-size: 16px;
			color: #666;
		}
		margin-top: 40px;
	}


	.home2-fluid{
		padding:0px;
		.nav-tabs li{
			margin-left: 0px;
		}

	}
	.home2-tab{
		.nav-tabs > li,
		.nav-pills > li {
	    float:none;
	    display:inline-block;
	    *display:inline; /* ie7 fix */
	     zoom:1; /* hasLayout ie7 trigger */
		}
		.nav-tabs, .nav-pills {
		    text-align:center;
		}
	}
	#home2-owl{
		position: relative;
		.gray-opicity{
			position: absolute;
			top: 0px;
			left: 0%;
			width: 200%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
		}
		.owl-item{
			height: 730px;
		}
		h1{
			left: 30%;
			right: 30%;
			font-size: 72px;
			text-align: center;
			font-weight: bold;
			color: #fff;
			position: absolute;
			top:120px;
			z-index: 1;
		}
	}

	.home2-new-hot{
		h1{
			text-align: center;
			position: absolute;
			bottom: 0px;
			width: 100%;
			font-size: 58px;
			font-weight: bold;
			line-height: 120px;
		}
	}
	.home2-tab{
		.tab-content{
			.tab-pane{
				.home2-countdown {
					text-align: center;
					.m1-count-down{
						margin: 0px;
						color: #666;
						display: inline-block;
						border: 1px solid #ccc;
						padding: 10px;
						li{
							padding: 0 10px;
							display: inline-block;
							margin: 0px;
							border-right: 1px solid #ccc;
							span{
								line-height: 14px;
								float: left;
								width: 100%;
								font-size: 14px;
							}
							.m1-number{
								line-height: 36px;
								font-size: 36px;
							}
							&:last-child{
								border: none;
							}						
						}
					}
				}
			}
		}
		ul{
			border: none;
			margin-top: 30px;
			margin-bottom: 0px;
		}
		ul li a{
			line-height: 40px;
			font-size: 24px;
			border: none !important;
			&:hover{
				border: none;
				border-bottom: 1px solid #333 !important;
			}
		}
	}
	.home2-banner2{
		// max-height: 480px;
	}
	.home2-last-product{
		> h2, > p{
			text-align: center;
			padding: 0 150px;
		}
		> p{
			margin-bottom: 50px;
		}
		h2 {
			font-size: 24px;
			padding-top: 60px;
			p{
				position: relative;
				border-bottom: 4px solid #59B5E4;
				display: inline-block;
				padding-bottom: 10px;
				margin-bottom: 10px;
			}
		}
		p{
			color: #666;
		}
	}
	.home2-client{
		margin-top: 100px;
		h2, p{
			text-align: center;
			margin-bottom: 10px;
			p{
				border-bottom: 4px solid #4A8CF7;
				display: inline-block;
				padding-bottom: 10px;
			}
		}
		> p{
			margin-bottom: 50px;
		}
		h2{
			color: #333;
			font-size: 24px;
		}
		& > p{
			padding: 0 150px;
			color: #999;
		}
		.item-comment{
			position: relative;
			margin: 0 10px;
			overflow: hidden;
			.m1-ishover{
				visibility: hidden;
				position: absolute;
				top: -100%;
				right: 0;
				left: 0;
				height: 100%;
				background-color: #59B5E4;
				z-index: 99;
				color: #fff;
				a{
					color: #fff;
				}
			}
			&:hover{
				.m1-ishover{
					visibility: visible;
					top: 0;
					height: 100%;
					transition: all 0.4s;
				}
			}
			.m1-static-review{
				border: 1px solid #ccc;
				z-index: 80;
				position: relative;
				.name-reviewer{
					margin-top: 20px;
					margin-bottom: 0px;
				}
				.date-review{
					font-size: 14px;
					font-style: italic;
				}
				.productname-review{
					font-size: 20px;
				}
			}
			
		}
#f1_container {
	padding: 10px;
	position: relative;
	width: 100%;
	height: 380px;
	z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
	border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.2s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
}
.face {
  position: absolute;

  backface-visibility: hidden;
  p{
  	margin-bottom: 0px;
  }
  .name-reviewer{
		margin-top: 20px;
		margin-bottom: 0px;
	}
	.date-review{
		font-size: 14px;
		font-style: italic;
	}
	.productname-review{
		font-size: 20px;
	}
}
.face.back {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 20px;
  color: white;
  background-color: #4A8CF7;
  padding-top: 50px;
  .avatar-client{
  	i{	
  		display: inline-block;
  		width: 100px;
  		line-height: 100px;
  		border-radius: 100%;
  		border: 1px solid #fff;
  		font-size: 60px;
  		background-color: #fff;
  		color: #4A8CF7;
  		margin-bottom: 20px;
  	}
  }
}
	}


}/*END HOME 2*/

@media(max-width:768px){
	.home2-client{
		display: none;
	}
	.home2-last-product{
		h2, p {
			margin: 0px;
			padding-top: 20px;
			padding-right: 0px !important;
			padding-left: 0px !important;
		}
	}
	.last-product-right{
		display: none;
	}
	#home2-owl{
		.gray-opicity{
			display: none;
		}
		img{
			max-width: auto;
		}
		h1{
			display: none;
		}
	}
	.home2-new-hot{
		display: none;
		div > div{
			margin-top: 30px;
		}
		h1{
			display: none;
		}
	}
	.product-fluid {
		display: none;
	}
	.m1-count-down{
		display: none !important;
	}
	.m1-newsletter{
		display: none;
	}
	.bot-banner{
		display: none;
	}
}
