@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGOode0-EuMkY--TSyExeINg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCOFnW3Jk0f09zW_Yln67Ac.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEo0As1BFRXtCDhS66znb_k.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
.category-image {
  display: none;
}
.block-related {
  width: 100% !important;
}
.block-related .product {
  height: auto;
}
.block-related .block-content li.item {
  display: inline-block;
}
body {
  font-family: 'Source Sans Pro' !important;
  font-weight: 400;
}
.button {
  background-color: #4A8CF7;
  border: 1px solid #4A8CF7;
}
.button span span {
  color: #fff;
  text-decoration: none;
}
.button:hover {
  background-color: #fff;
  border: 1px solid #4A8CF7;
}
.button:hover span span {
  color: #4A8CF7;
}
.m1-product-grid {
  /*END SKIP PRODUCT INFO*/
  /*END PRODUCT INFO*/
}
.m1-product-grid .item {
  position: relative;
}
.m1-product-grid .item .m1-hover-image:hover .m1-skip-product-info {
  display: block;
}
.m1-product-grid .m1-skip-product-info {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.9;
  position: absolute;
  top: 0px;
  z-index: 999;
}
.m1-product-grid .m1-skip-product-info .ratings .m1-show-rating {
  display: none;
}
.m1-product-grid .m1-skip-product-info .product-name {
  margin-top: 115px;
}
.m1-product-grid .m1-skip-product-info .product-name a {
  color: #eee;
  text-transform: capitalize;
}
.m1-product-grid .m1-skip-product-info .product-name:hover a {
  color: #4A8CF7;
}
.m1-product-grid .m1-skip-product-info .price-box .regular-price span {
  color: #eee;
  font-size: 14px;
}
.m1-product-grid .m1-skip-product-info .price-box .old-price span {
  color: #eee;
  font-size: 14px;
}
.m1-product-grid .m1-skip-product-info .price-box .special-price span {
  color: #eee;
  font-size: 14px;
}
.m1-product-grid .m1-skip-product-info .actions {
  position: relative;
}
.m1-product-grid .m1-skip-product-info .actions .button {
  background-color: transparent;
  border: 1px solid #eee;
  font-size: 12px;
  padding: 5px 10px;
}
.m1-product-grid .m1-skip-product-info .actions .button:hover {
  border: 1px solid #4A8CF7;
  color: #4A8CF7;
}
.m1-product-grid .m1-skip-product-info .link-wishlist,
.m1-product-grid .m1-skip-product-info .link-compare {
  color: #4A8CF7;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.m1-product-grid .m1-skip-product-info .link-wishlist:hover,
.m1-product-grid .m1-skip-product-info .link-compare:hover {
  color: #fff;
}
.m1-product-grid .m1-skip-product-info .link-compare {
  top: 40px;
  right: 10px;
}
.m1-product-grid .product-info {
  padding-bottom: 35px;
}
.m1-product-grid .product-info .product-name {
  text-align: left;
  margin-top: 10px;
  text-transform: capitalize;
}
.m1-product-grid .product-info .product-name a {
  color: #222;
}
.m1-product-grid .product-info .price-box {
  text-align: left;
}
.m1-product-grid .product-info .price-box .regular-price span {
  color: #6f6f6f;
  font-size: 14px;
}
.m1-product-grid .product-info .price-box .old-price span {
  color: #6f6f6f;
  font-size: 14px;
}
.m1-product-grid .product-info .price-box .special-price span {
  color: #6f6f6f;
  font-size: 14px;
}
.m1-product-grid .product-info .ratings {
  float: left;
}
/*=========================================END GRID PRODUCT LAYERED=========================================*/
.m1-product-grid .product-info .ratings .rating-box {
  float: left;
}
.m1-product-grid .product-info .ratings .m1-show-rating {
  float: left;
}
.m1-product-grid .product-info .ratings .m1-show-rating i {
  margin-left: 10px;
  position: relative;
  top: -2px;
  color: #ccc;
}
.m1-product-grid .product-info .ratings .m1-show-rating .m1-skip-rating {
  position: absolute;
  display: none;
  width: 100%;
  min-height: 100%;
  top: 0px;
  right: 0px;
  background-color: #333;
}
.m1-product-grid .product-info .ratings .m1-hover-rating:hover .m1-skip-rating {
  display: block;
}
/*=========================================END GRID PRODUCT RATINGS=========================================*/
.m1-product-list .item .ratings .rating-box,
.block-related .item .ratings .rating-box {
  vertical-align: middle;
  display: inline-block;
  float: none;
}
.m1-product-list .item .ratings .rating-links,
.block-related .item .ratings .rating-links {
  float: none;
  vertical-align: middle;
  display: inline-block;
  font-size: 12px;
}
.m1-product-list .item .product-image,
.block-related .item .product-image {
  width: 30%;
}
.m1-product-list .item .product-shop,
.block-related .item .product-shop {
  width: 70%;
}
.m1-product-list .item .product-shop .product-primary,
.block-related .item .product-shop .product-primary {
  width: 100%;
}
.m1-product-list .item .product-shop .product-primary .m1-title-border,
.block-related .item .product-shop .product-primary .m1-title-border {
  border-bottom: 1px solid #ccc;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}
.m1-product-list .item .product-shop .product-primary .m1-title-border a,
.block-related .item .product-shop .product-primary .m1-title-border a {
  text-transform: capitalize;
  color: #000;
  font-size: 24px;
}
.m1-product-list .item .product-shop .product-primary .m1-title-border::after,
.block-related .item .product-shop .product-primary .m1-title-border::after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  background-color: #4A8CF7;
  position: absolute;
  bottom: -3px;
}
.m1-product-list .item .product-shop .product-secondary,
.block-related .item .product-shop .product-secondary {
  float: left;
  text-align: left;
  width: 100%;
}
.m1-product-list .item .product-shop .product-secondary .price-box,
.block-related .item .product-shop .product-secondary .price-box {
  padding: 10px 0;
}
.m1-product-list .item .product-shop .product-secondary .price-box span,
.block-related .item .product-shop .product-secondary .price-box span {
  font-size: 36px;
  color: #555;
  font-weight: 600;
}
.m1-product-list .item .product-shop .product-secondary .price-box .old-price span,
.block-related .item .product-shop .product-secondary .price-box .old-price span {
  font-size: 24px;
  color: #888;
}
.m1-product-list .item .product-shop .product-secondary .m-revert-btn,
.block-related .item .product-shop .product-secondary .m-revert-btn {
  background-color: transparent;
  border: 1px solid #bbb;
  color: #bbb;
  line-height: 25px;
}
.m1-product-list .item .product-shop .product-secondary .m-revert-btn span span,
.block-related .item .product-shop .product-secondary .m-revert-btn span span {
  color: #bbb;
}
.m1-product-list .item .product-shop .product-secondary .m-revert-btn:hover,
.block-related .item .product-shop .product-secondary .m-revert-btn:hover {
  background-color: #4A8CF7;
  border: 1px solid #4A8CF7 ;
  color: #fff;
}
.m1-product-list .item .product-shop .product-secondary .m-revert-btn:hover span,
.block-related .item .product-shop .product-secondary .m-revert-btn:hover span {
  color: #fff;
}
.m1-product-list .item .product-shop .product-secondary .link-wishlist,
.block-related .item .product-shop .product-secondary .link-wishlist {
  font-size: 18px;
}
.m1-product-list .item .product-shop .desc,
.block-related .item .product-shop .desc {
  width: 100%;
}
/*=========================================END LIST PRODUCT LAYERED=========================================*/
.sidebar .block-layered-nav .block-title {
  display: none;
}
.sidebar .block-layered-nav #narrow-by-list dt {
  position: relative;
  border: none;
  background-color: transparent;
  border-bottom: 4px solid #4A8CF7;
  text-transform: capitalize;
  font-size: 18px;
  padding-left: 0px;
  display: inline-block;
}
.sidebar .block-layered-nav #narrow-by-list dd {
  padding-left: 0px;
  border: none;
}
.sidebar .block-layered-nav #narrow-by-list dd ol li a {
  padding-left: 0px;
  color: #555;
}
.sidebar .block-layered-nav #narrow-by-list dd ol li a:hover {
  text-decoration: underline;
}
.sidebar .block-layered-nav #narrow-by-list dd .swatch-label {
  background-color: #fff;
  border-radius: 0px;
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
}
.sidebar .block-layered-nav #narrow-by-list dd .swatch-label img {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  border: none;
}
.sidebar .block-layered-nav .configurable-swatch-list li {
  display: inline-block;
  width: auto !important;
}
.sidebar .block-layered-nav .configurable-swatch-list li .count {
  display: none;
}
.sidebar .block-layered-nav .configurable-swatch-list li a {
  padding: 0px !important;
}
/*=========================================END LIST PRODUCT LAYERED=========================================*/
.toolbar-bottom .toolbar {
  margin-left: 0px;
  padding-left: 0px;
}
.toolbar-bottom .toolbar .pager .count-container {
  display: none;
}
.toolbar-bottom .toolbar .pages {
  margin-left: 0px;
}
.toolbar-bottom .toolbar .pages li:hover a {
  background-color: #4A8CF7;
  border: transparent;
  color: #fff;
}
.toolbar-bottom .toolbar .pages .current {
  background-color: #4A8CF7;
  border: transparent;
  color: #fff;
}
.toolbar-bottom .toolbar .sorter {
  display: none;
}
.toolbar {
  border: none;
  background-color: transparent;
}
.toolbar select {
  height: 32px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.toolbar select:hover {
  border: 1px solid #ccc;
}
.toolbar .pager {
  color: #222;
  margin: 0px;
  float: left;
  font-size: 14px;
}
.toolbar .pager .pages ol li a {
  border-radius: 0px;
  margin: 0 5px;
  padding: 0px;
}
.toolbar .sorter {
  float: right;
}
.toolbar .sorter .sort-by {
  float: right;
  margin-left: 20px;
}
.toolbar .sorter .view-mode .grid {
  border: 1px solid #ccc;
  background-position: 7px -493px;
}
.toolbar .sorter .view-mode .grid:hover {
  background-position: -42px -493px;
}
.toolbar .sorter .view-mode .grid:focus {
  background-position: -42px -493px;
}
.toolbar .sorter .view-mode .list {
  border: 1px solid #ccc;
  background-position: 6px -518px;
}
.toolbar .sorter .view-mode .list:hover {
  background-position: -45px -518px;
}
/*=========================================END LIST TOOLBAR=========================================*/
.m1-footer .m1-footer-fluid {
  padding-bottom: 20px;
  background-color: #222;
}
.m1-footer .m1-footer-title {
  padding-top: 25px;
  font-size: 22px;
  color: #eee;
  border-bottom: 1px solid #666;
  padding-bottom: 10px;
  position: relative;
}
.m1-footer ul {
  padding: 0px;
}
.m1-footer ul li {
  padding-top: 10px;
  list-style: none;
}
.m1-footer ul li p {
  padding: 0px;
  margin: 0px;
}
.m1-footer ul li a {
  color: #aaa;
}
.m1-footer ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
.m1-footer ul li .fa {
  color: #ccc;
}
.m1-footer .m1-f-contact li {
  display: block;
  padding-bottom: 10px;
  overflow: hidden;
}
.m1-footer .m1-f-contact li i {
  position: relative;
  top: 4px;
  color: #aaa;
  font-size: 24px;
  border: 1px solid #aaa;
  padding: 8px 0;
  display: inline-block;
  float: left;
  width: 15%;
  text-align: center;
  margin-right: 5%;
}
.m1-footer .m1-f-contact li a,
.m1-footer .m1-f-contact li p {
  width: 80%;
  display: block;
  text-align: justify;
  float: left;
  color: #aaa;
}
/*=========================================END FOOTER========================================*/
.footer {
  border-top: none;
}
.footer .m1-newsletter {
  /*=========================================START NEWSLETTER========================================*/
  padding: 10px 0px;
  overflow: hidden;
  border-top: 1px solid #ccc;
}
.footer .m1-newsletter .block-subscribe {
  width: auto;
  float: left;
  margin: 0px;
}
.footer .m1-newsletter .block-subscribe .block-title {
  width: 200px;
  float: left;
  margin-right: 10px;
}
.footer .m1-newsletter .block-subscribe .block-title span {
  color: #3f3f3f;
  font-size: 24px;
  text-transform: capitalize;
}
.footer .m1-newsletter .block-subscribe form {
  margin-left: 30px;
  margin-top: 15px;
  float: left;
}
.footer .m1-newsletter .block-subscribe form .block-content {
  padding-top: 0px;
  margin-top: 0px;
}
.footer .m1-newsletter .block-subscribe form .input-box input {
  height: 44px;
  width: 315px;
  border: 1px solid #444;
}
.footer .m1-newsletter .block-subscribe form .actions button {
  height: 44px;
  background-color: #fff;
  border: 1px solid #444;
  float: right;
}
.footer .m1-newsletter .block-subscribe form .actions button span span {
  color: #444;
}
.footer .m1-newsletter .block-subscribe form .actions button:hover {
  background-color: #4A8CF7;
  border: none;
}
.footer .m1-newsletter .block-subscribe form .actions button:hover span span {
  color: #fff;
}
.footer .m1-newsletter .m1-paypay {
  float: right;
}
/*=========================================END FOOTER========================================*/
/*=========================================HOME EDIt========================================*/
#header {
  margin: 0px;
  padding: 0px;
  border: none;
}
#header-nav {
  border-bottom: none;
}
.col2-left-layout .page-title {
  display: none;
}
.col1-layout {
  padding: 0px !important;
  margin: 0px;
  width: 100%;
  max-width: 100%;
}
.col1-layout .main {
  padding: 0px;
  margin: 0px;
  width: 100%;
  max-width: 100%;
}
.col1-layout .main .col-main {
  max-width: 100%;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.main-container {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
}
.main {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  /*=========================================NEW ADD HEADER========================================*/
  .m1-header-page {
    display: none;
    height: 310px;
  }
  .catalog-category-view .m1-header-page {
    display: block;
  }
  .m1-header-page {
    max-height: 310px;
    z-index: 9;
    width: 100%;
    text-align: center;
    position: relative;
  }
  .m1-header-page img {
    max-height: 310px;
  }
  .m1-header-page::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 99;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .m1-header-page .title {
    position: absolute;
    z-index: 999;
    font-size: 28px;
    font-family: "Roboto";
    text-transform: uppercase;
    top: 0px;
    text-align: center;
    width: 100%;
  }
  .m1-header-page .title span {
    color: #fff;
    display: inline-block;
    border-bottom: 1px solid #999;
    padding: 100px 0 5px 0;
  }
  .m1-header-page .breadcrumbs {
    z-index: 999;
    position: relative;
    margin: 0px;
    margin-top: 25px;
  }
  .m1-header-page .breadcrumbs ul li {
    float: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
  }
  .m1-header-page .breadcrumbs ul li span {
    float: none;
    padding: 0 14px 0 16px;
    font-size: 18px;
    vertical-align: middle;
  }
  .m1-header-page .breadcrumbs ul li:last-child strong {
    color: #4A8CF7;
  }
  .m1-header-page .breadcrumbs ul li a {
    float: none;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
  }
  .block-compare .button {
    background-color: #4A8CF7 !important;
    border: 1px solid #4A8CF7;
  }
  .block-compare .button span span {
    color: #fff;
    text-decoration: none;
  }
  .block-compare .button:hover {
    background-color: #fff;
    border: 1px solid #4A8CF7;
  }
  .block-compare .button:hover span span {
    color: #4A8CF7;
  }
  .m1-newsletter-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .m1-main-footer {
    margin: 0 auto;
    max-width: 1200px;
  }
  .m1-tablet-show {
    display: none !important;
  }
  .page-header-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .store-language-container {
    padding: 10px !important;
  }
  .store-language-container #select-language {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 2px 5px;
  }
  #shopping-cart-table {
    font-size: 16px;
    width: 100%;
  }
  #shopping-cart-table th,
  #shopping-cart-table td {
    border: 1px solid #CCCCCC;
  }
  #shopping-cart-table th {
    text-align: center;
  }
  #shopping-cart-table tfoot button {
    background-color: #4A8CF7;
    border: 1px solid #4A8CF7;
    padding: 0 12px;
  }
  #shopping-cart-table tfoot button span span {
    color: #fff;
    text-decoration: none;
  }
  #shopping-cart-table tfoot button:hover {
    background-color: #fff;
    border: 1px solid #4A8CF7;
  }
  #shopping-cart-table tfoot button:hover span span {
    color: #4A8CF7;
  }
  #shopping-cart-table .product-cart-total .price {
    color: #4A8CF7;
    font-weight: 600;
    font-size: 18px;
  }
  .product-cart-info .product-name {
    font-size: 18px;
    color: #333;
    text-transform: capitalize;
  }
  .product-cart-info .product-cart-sku,
  .product-cart-info .label {
    color: #666;
    font-style: normal;
    font-size: 14px;
    padding: 0px;
  }
  .product-cart-info .label {
    font-style: italic;
  }
  .product-cart-info .item-options {
    margin-left: 0px !important;
    padding: 0px;
  }
  .cart-forms {
    width: 49%;
    float: left;
    padding: 0px;
  }
  .cart-totals-wrapper {
    width: 49%;
    margin-left: 2%;
  }
  .cart-totals-wrapper .price {
    font-weight: bold;
  }
  .minicart-wrapper {
    padding: 10px;
  }
  .minicart-wrapper .block-subtitle {
    text-align: center;
  }
  .minicart-wrapper li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  .minicart-wrapper .minicart-actions {
    text-align: center;
  }
  .minicart-wrapper .minicart-actions .button {
    background-color: #4A8CF7;
    border: 1px solid #4A8CF7;
  }
  .minicart-wrapper .minicart-actions .button span span {
    color: #fff;
    text-decoration: none;
  }
  .minicart-wrapper .minicart-actions .button:hover {
    background-color: #fff;
    border: 1px solid #4A8CF7;
    color: #4A8CF7;
  }
  .minicart-wrapper .minicart-actions .button:hover span span {
    color: #4A8CF7;
  }
  .minicart-wrapper .block-content {
    text-align: center;
    font-size: 24px;
  }
  .minicart-wrapper .block-content .subtotal .label {
    display: none;
  }
  .minicart-wrapper .product-details .product-name {
    padding-top: 0px;
    font-weight: bold;
  }
  .minicart-wrapper .product-details .info-wrapper .price {
    color: #4A8CF7;
  }
  .minicart-wrapper .product-details .truncated {
    display: none;
  }
  .main {
    padding: 30px;
  }
  .main .breadcrumbs {
    display: none;
  }
  .cms-home .main {
    padding: 0px !important;
  }
  #header-nav .container {
    width: 1200px;
  }
  .product-view .toggle-content ul {
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }
  .product-view .toggle-content ul li {
    border: none !important;
    line-height: 60px;
  }
  .product-view .toggle-content ul li span {
    font-size: 18px;
    color: #999;
  }
  .product-view .toggle-content ul li.current span {
    color: #333;
  }
  .product-view .toggle-content #collateral-tabs dd {
    border: none;
  }
  .product-view .product-collateral,
  .product-view .block-related {
    float: none;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
  .product-view .product-essential {
    max-width: 1200px;
    margin: 0 auto;
  }
  .product-view .product-essential .product-img-box {
    overflow: hidden;
    width: 50%;
  }
  .product-view .product-essential .product-img-box .product-image {
    width: 100%;
    float: left;
  }
  .product-view .product-essential .product-img-box .more-views h2 {
    display: none;
  }
  .product-view .product-essential .product-img-box .product-image-thumbs li {
    float: left;
    margin-right: 4px;
    max-width: 16%;
  }
  .product-view .product-essential .product-img-box .product-image-thumbs li a {
    border: 1px solid #ddd;
  }
  .product-view .product-essential .product-img-box .product-image-thumbs li img {
    width: 100%;
  }
  .product-view .product-essential .add-to-cart-wrapper {
    padding-left: 0px;
    width: 100%;
  }
  .product-view .product-essential .product-options-bottom,
  .product-view .product-essential .add-to-box {
    border: none;
    padding: 10px 0;
    background-color: transparent;
  }
  .product-view .product-essential .product-options-bottom .sharing-links,
  .product-view .product-essential .add-to-box .sharing-links {
    display: none;
  }
  .product-view .product-essential .product-options-bottom .add-to-links,
  .product-view .product-essential .add-to-box .add-to-links {
    width: 100%;
    line-height: left;
  }
  .product-view .product-essential .product-options-bottom .add-to-links li:first-child,
  .product-view .product-essential .add-to-box .add-to-links li:first-child {
    width: 46%;
    float: left;
  }
  .product-view .product-essential .product-options-bottom .add-to-links li:last-child,
  .product-view .product-essential .add-to-box .add-to-links li:last-child {
    width: 46%;
    float: right;
  }
  .product-view .product-essential .product-options-bottom .add-to-links li a,
  .product-view .product-essential .add-to-box .add-to-links li a {
    border: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    line-height: 50px;
    margin-right: 10px;
    color: #ccc;
  }
  .product-view .product-essential .product-options-bottom .add-to-links li a:hover,
  .product-view .product-essential .add-to-box .add-to-links li a:hover {
    background-color: #4A8CF7;
    border: 1px solid #4A8CF7;
    color: #fff;
  }
  .product-view .product-essential .product-options-bottom .qty-wrapper,
  .product-view .product-essential .add-to-box .qty-wrapper {
    width: 46%;
    height: 50px;
    border: 1px solid #ccc;
  }
  .product-view .product-essential .product-options-bottom .qty-wrapper label,
  .product-view .product-essential .add-to-box .qty-wrapper label {
    line-height: 50px;
    width: 65%;
    float: left;
    border-right: 1px solid #ccc;
    margin: 0px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: normal;
  }
  .product-view .product-essential .product-options-bottom .qty-wrapper input,
  .product-view .product-essential .add-to-box .qty-wrapper input {
    width: 35%;
    float: left;
    line-height: 50px;
    border: none;
    height: 48px;
  }
  .product-view .product-essential .product-options-bottom .add-to-cart,
  .product-view .product-essential .add-to-box .add-to-cart {
    border: none;
  }
  .product-view .product-essential .product-options-bottom .add-to-cart-buttons,
  .product-view .product-essential .add-to-box .add-to-cart-buttons {
    width: 46%;
    margin: 0px;
    float: right;
  }
  .product-view .product-essential .product-options-bottom .add-to-cart-buttons button,
  .product-view .product-essential .add-to-box .add-to-cart-buttons button {
    width: 100%;
    padding: 3px 0;
    text-align: center;
    height: 50px;
  }
  .product-view .product-essential .product-shop {
    width: 50%;
    float: right;
  }
  .product-view .product-essential .product-shop .product-options {
    /*===========================CSS SWATCH OPTION PRODUCT+++++++++++++++++++++++++*/
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .product-view .product-essential .product-shop .product-options p.required {
    display: none;
  }
  .product-view .product-essential .product-shop .product-options dl {
    overflow: hidden;
    margin-bottom: 0px;
  }
  .product-view .product-essential .product-shop .product-options dl dt {
    display: none;
  }
  .product-view .product-essential .product-shop .product-options dl dd {
    clear: none;
    width: 100%;
    float: left;
    display: block;
  }
  .product-view .product-essential .product-shop .product-options dl dd select {
    display: block !important;
    width: 100%;
    float: left;
    height: 50px;
    border: 1px solid #ccc;
    background-color: transparent;
  }
  .product-view .product-essential .product-shop .product-options dl dd select option {
    font-size: 18px;
  }
  .product-view .product-essential .product-shop .product-options dl dd ul {
    display: none;
  }
  .product-view .product-essential .product-shop .product-options dl dd.last {
    float: left !important;
  }
  .product-view .product-essential .product-shop .product-name {
    width: 100%;
  }
  .product-view .product-essential .product-shop .product-name span {
    color: #555;
    text-transform: capitalize;
    font-family: 'Roboto';
  }
  .product-view .product-essential .product-shop .extra-info {
    width: 100%;
  }
  .product-view .product-essential .product-shop .extra-info .ratings {
    width: 100%;
  }
  .product-view .product-essential .product-shop .extra-info .ratings .rating-links {
    margin-top: 5px;
  }
  .product-view .product-essential .product-shop .extra-info .ratings .rating-links a {
    font-size: 12px;
    color: #aaa;
  }
  .product-view .product-essential .product-shop .extra-info .ratings .rating-links a:hover {
    color: #4A8CF7;
  }
  .product-view .product-essential .product-shop .price-info {
    width: 100%;
    float: left;
    text-align: left;
    padding-left: 0px;
  }
  .product-view .product-essential .product-shop .price-info .price-box .regular-price span {
    color: #555;
    font-size: 28px;
  }
  .product-view .product-essential .product-shop .price-info .price-box .old-price span {
    color: #eee;
    font-size: 14px;
  }
  .product-view .product-essential .product-shop .price-info .price-box .special-price span {
    color: #eee;
    font-size: 14px;
  }
  /*========================END PRODUCT DETAILS ===================================*/
  .registered-users {
    border: 1px solid #ccc;
    padding: 40px !important;
    margin: 0 auto;
    float: none !important;
  }
  .registered-users .buttons-set {
    text-align: center !important;
    display: inline-block;
    float: none;
    width: 100%;
  }
  .registered-users .buttons-set button {
    width: 80%;
    margin: 0 auto;
    float: none;
    text-align: center;
    height: 46px;
  }
  .registered-users .fieldset {
    text-align: center;
  }
  .registered-users .fieldset h2 {
    font-size: 36px;
  }
  .registered-users .form-list {
    padding: 0px !important;
  }
  .registered-users .form-list li {
    list-style: none;
  }
  .registered-users .form-list li .input-box input {
    width: 80%;
    height: 46px;
    background-color: #fff;
  }
  .registered-users .form-list .m-login-form a {
    color: #4A8CF7;
  }
  .registered-users .form-list .m-login-form a:hover {
    text-decoration: underline;
  }
  .registered-users .form-list .m-login-form a:first-child {
    float: left;
    margin-left: 10%;
  }
  /*========================END REGITER ==================================*/
  .page-header .m1-max-768-cart-links a .label {
    display: none;
  }
  .page-header .m1-max-768-cart-links .skip-link {
    float: right;
  }
  .page-header .m1-max-768-cart-links .links {
    float: right;
  }
  .page-header .m1-max-768-cart-links .links ul li:nth-child(1),
  .page-header .m1-max-768-cart-links .links ul li:nth-child(3),
  .page-header .m1-max-768-cart-links .links ul li:nth-child(4) {
    display: none;
  }
  .page-header .m1-max-768-cart-links .links li {
    display: inline-block;
  }
  .page-header .m1-max-768-cart-links .links li a {
    border-right: 1px solid #ccc;
    line-height: 40px;
    padding: 0 10px;
    color: #555;
  }
  .account-cart-wrapper {
    display: none;
  }
  #header-search {
    display: none;
  }
}
/*=========================================END MWDIA WIDTH 768px=========================================*/
@media (max-width: 768px) {
  .m1-header-page {
    display: none;
  }
  .nav-primary {
    margin-left: 0px !important;
  }
  .nav-primary li a:hover {
    background-color: transparent !important;
  }
  .nav-primary li ul li {
    padding: 0px !important;
  }
  .all-categories {
    display: none;
  }
  .m1-max-768-cart-links {
    display: none;
  }
  .store-language-container {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .m1-hover-image:hover .m1-skip-product-info {
    display: none !important;
  }
  .product-shop {
    width: 33%;
    float: right;
  }
  .product-shop .product-options {
    border-top: 1px solid #ccc;
  }
  .product-shop .product-options-bottom {
    border: none;
    padding: 10px 0;
    background-color: transparent;
  }
  .product-shop .product-options-bottom .sharing-links {
    display: none;
  }
  .product-shop .product-options-bottom .add-to-links {
    width: 100%;
    line-height: left;
  }
  .product-shop .product-options-bottom .add-to-links li:first-child {
    width: 46%;
    float: left;
  }
  .product-shop .product-options-bottom .add-to-links li:last-child {
    width: 46%;
    float: right;
  }
  .product-shop .product-options-bottom .add-to-links li a {
    border: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    line-height: 50px;
    margin-right: 10px;
    color: #ccc;
  }
  .product-shop .product-options-bottom .add-to-links li a:hover {
    background-color: #4A8CF7;
    border: 1px solid #4A8CF7;
    color: #fff;
  }
  .product-shop .product-options-bottom .qty-wrapper {
    width: 46%;
    height: 50px;
    border: 1px solid #ccc;
  }
  .product-shop .product-options-bottom .qty-wrapper label {
    line-height: 50px;
    width: 65%;
    float: left;
    border-right: 1px solid #ccc;
    margin: 0px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: normal;
  }
  .product-shop .product-options-bottom .qty-wrapper input {
    width: 35%;
    float: left;
    line-height: 50px;
    border: none;
    height: 48px;
  }
  .product-shop .product-options-bottom .add-to-cart {
    border: none;
  }
  .product-shop .product-options-bottom .add-to-cart-buttons {
    width: 46%;
    margin: 0px;
    float: right;
  }
  .product-shop .product-options-bottom .add-to-cart-buttons button {
    width: 100%;
    padding: 3px 0;
    text-align: center;
    height: 50px;
  }
  .product-shop .product-name {
    width: 100%;
  }
  .product-shop .product-name span {
    color: #555;
    text-transform: capitalize;
    font-family: 'Roboto';
  }
  .product-shop .extra-info {
    width: 100%;
  }
  .product-shop .extra-info .ratings {
    width: 100%;
  }
  .product-shop .extra-info .ratings .rating-links {
    margin-top: 5px;
  }
  .product-shop .extra-info .ratings .rating-links a {
    font-size: 12px;
    color: #aaa;
  }
  .product-shop .extra-info .ratings .rating-links a:hover {
    color: #4A8CF7;
  }
  .product-shop .ratings {
    overflow: hidden;
  }
  .product-shop .ratings .rating-box {
    vertical-align: middle;
    display: inline-block;
    float: none;
  }
  .product-shop .ratings .rating-links {
    float: none;
    vertical-align: middle;
    display: inline-block;
    font-size: 12px;
  }
  .product-shop .price-info {
    width: 100% !important;
    float: left!important;
    text-align: left !important;
    padding-left: 0px !important;
  }
  .product-shop .price-info .price-box .regular-price span {
    color: #555;
    font-size: 28px;
  }
  .product-shop .price-info .price-box .old-price span {
    color: #eee;
    font-size: 14px;
  }
  .product-shop .price-info .price-box .special-price span {
    color: #eee;
    font-size: 14px;
  }
  .m1-newsletter .block-subscribe .block-title {
    width: 100% !important;
    text-align: left;
  }
  .m1-newsletter #newsletter-validate-detail {
    width: 90%;
    float: left;
    margin: 10px;
  }
  .m1-newsletter .actions {
    float: left;
    width: auto;
  }
  .m1-newsletter .m1-paypay {
    display: inline-block;
    text-align: center;
    width: 100%;
    float: none !important;
  }
  .toolbar .sorter .sort-by {
    float: right;
  }
  .toolbar .sorter .view-mode {
    float: left;
  }
  .product-essential {
    /*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    max-width: 1200px;
    margin: 0 auto;
  }
  .product-essential .product-img-box .product-image {
    width: 100%;
    float: left;
  }
  .product-essential .product-img-box .more-views h2 {
    display: none;
  }
  .product-essential .product-img-box .product-image-thumbs li {
    float: left;
    margin-right: 4px;
    max-width: 16%;
  }
  .product-essential .product-img-box .product-image-thumbs li a {
    border: 1px solid #ddd;
  }
  .product-essential .product-img-box .product-image-thumbs li img {
    width: 100%;
  }
  .product-essential .add-to-cart-wrapper {
    width: 100%;
    padding-left: 0px;
  }
  .product-essential .product-options-bottom,
  .product-essential .add-to-box {
    border: none;
    padding: 10px 0;
    background-color: transparent;
  }
  .product-essential .product-options-bottom .sharing-links,
  .product-essential .add-to-box .sharing-links {
    display: none;
  }
  .product-essential .product-options-bottom .add-to-links,
  .product-essential .add-to-box .add-to-links {
    width: 100%;
    line-height: left;
  }
  .product-essential .product-options-bottom .add-to-links li:first-child,
  .product-essential .add-to-box .add-to-links li:first-child {
    width: 50%;
    float: left;
    margin-top: 10px;
  }
  .product-essential .product-options-bottom .add-to-links li:last-child,
  .product-essential .add-to-box .add-to-links li:last-child {
    width: 50%;
    float: right;
    margin-top: 10px;
  }
  .product-essential .product-options-bottom .add-to-links li a,
  .product-essential .add-to-box .add-to-links li a {
    border: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    line-height: 50px;
    margin-right: 10px;
    color: #ccc;
  }
  .product-essential .product-options-bottom .add-to-links li a:hover,
  .product-essential .add-to-box .add-to-links li a:hover {
    background-color: #4A8CF7;
    border: 1px solid #4A8CF7;
    color: #fff;
  }
  .product-essential .product-options-bottom .qty-wrapper,
  .product-essential .add-to-box .qty-wrapper {
    width: 100%;
    float: left;
    height: 50px;
    border: 1px solid #ccc;
  }
  .product-essential .product-options-bottom .qty-wrapper label,
  .product-essential .add-to-box .qty-wrapper label {
    line-height: 50px;
    width: 65%;
    float: left;
    border-right: 1px solid #ccc;
    margin: 0px;
    padding-left: 10px;
    font-size: 16px;
    font-weight: normal;
  }
  .product-essential .product-options-bottom .qty-wrapper input,
  .product-essential .add-to-box .qty-wrapper input {
    width: 35%;
    float: left;
    line-height: 50px;
    border: none;
    height: 48px;
  }
  .product-essential .product-options-bottom .add-to-cart,
  .product-essential .add-to-box .add-to-cart {
    border: none;
  }
  .product-essential .product-options-bottom .add-to-cart-buttons,
  .product-essential .add-to-box .add-to-cart-buttons {
    width: 100%;
    margin: 0px;
    float: left;
  }
  .product-essential .product-options-bottom .add-to-cart-buttons button,
  .product-essential .add-to-box .add-to-cart-buttons button {
    width: 100%;
    padding: 3px 0;
    text-align: center;
    height: 50px;
  }
  .product-essential .product-shop {
    width: 100%;
    float: right;
  }
  .product-essential .product-shop .product-options {
    /*===========================CSS SWATCH OPTION PRODUCT+++++++++++++++++++++++++*/
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .product-essential .product-shop .product-options p.required {
    display: none;
  }
  .product-essential .product-shop .product-options dl {
    overflow: hidden;
    margin-bottom: 0px;
  }
  .product-essential .product-shop .product-options dl dt {
    display: none;
  }
  .product-essential .product-shop .product-options dl dd {
    clear: none;
    width: 100%;
    float: left;
    display: block;
  }
  .product-essential .product-shop .product-options dl dd select {
    display: block !important;
    width: 100%;
    float: left;
    height: 50px;
    border: 1px solid #ccc;
    background-color: transparent;
  }
  .product-essential .product-shop .product-options dl dd select option {
    font-size: 18px;
  }
  .product-essential .product-shop .product-options dl dd ul {
    display: none;
  }
  .product-essential .product-shop .product-options dl dd.last {
    float: left !important;
  }
  .product-essential .product-shop .product-name {
    width: 100%;
  }
  .product-essential .product-shop .product-name span {
    color: #555;
    text-transform: capitalize;
    font-family: 'Roboto';
  }
  .product-essential .product-shop .extra-info {
    width: 100%;
  }
  .product-essential .product-shop .extra-info .ratings {
    width: 100%;
  }
  .product-essential .product-shop .extra-info .ratings .rating-links {
    margin-top: 5px;
  }
  .product-essential .product-shop .extra-info .ratings .rating-links a {
    font-size: 12px;
    color: #aaa;
  }
  .product-essential .product-shop .extra-info .ratings .rating-links a:hover {
    color: #4A8CF7;
  }
  .product-essential .product-shop .price-info {
    width: 100%;
    float: left;
    text-align: left;
    padding-left: 0px;
  }
  .product-essential .product-shop .price-info .price-box .regular-price span {
    color: #555;
    font-size: 28px;
  }
  .product-essential .product-shop .price-info .price-box .old-price span {
    color: #eee;
    font-size: 14px;
  }
  .product-essential .product-shop .price-info .price-box .special-price span {
    color: #eee;
    font-size: 14px;
  }
}
.cms-home2 .last-product-left img {
  border: 1px solid #ccc !important;
}
.cms-home2 .last-product-right .big-img img {
  border: 1px solid #ccc !important;
}
.cms-home2 #home2-last-img-owl .owl-item img {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
}
.cms-home2 #home2-last-img-owl .owl-item {
  padding-top: 15px;
  padding-right: 15px;
}
.cms-home2 .last-product-left .title {
  line-height: 60px;
  font-size: 24px;
  text-transform: capitalize;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 20px;
}
.cms-home2 .last-product-left .title::after {
  content: "";
  width: 60px;
  height: 5px;
  background-color: #59B5E4;
  position: absolute;
  bottom: -3px;
  left: 0px;
}
.cms-home2 .last-product-left .price {
  color: #999;
  font-size: 28px;
}
.cms-home2 .tab-pane .owl-item {
  padding: 15px;
}
.cms-home2 .tab-pane .owl-item img {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
}
.cms-home2 .tab-pane .product-name {
  overflow: hidden;
  padding-top: 20px;
}
.cms-home2 .tab-pane .product-name a {
  color: #322;
  font-size: 16px;
  text-transform: capitalize;
}
.cms-home2 .tab-pane .price {
  font-size: 16px;
  color: #666;
}
.cms-home2 #home2-deal-owl {
  margin-top: 40px;
}
.cms-home2 #home2-deal-owl .product-name {
  overflow: hidden;
  padding-top: 20px;
}
.cms-home2 #home2-deal-owl .product-name a {
  color: #322;
  font-size: 16px;
  text-transform: capitalize;
}
.cms-home2 #home2-deal-owl .price {
  font-size: 16px;
  color: #666;
}
.cms-home2 .home2-fluid {
  padding: 0px;
}
.cms-home2 .home2-fluid .nav-tabs li {
  margin-left: 0px;
}
.cms-home2 .home2-tab .nav-tabs > li,
.cms-home2 .home2-tab .nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  zoom: 1;
  /* hasLayout ie7 trigger */
}
.cms-home2 .home2-tab .nav-tabs,
.cms-home2 .home2-tab .nav-pills {
  text-align: center;
}
.cms-home2 #home2-owl {
  position: relative;
}
.cms-home2 #home2-owl .gray-opicity {
  position: absolute;
  top: 0px;
  left: 0%;
  width: 200%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.cms-home2 #home2-owl .owl-item {
  height: 730px;
}
.cms-home2 #home2-owl h1 {
  left: 30%;
  right: 30%;
  font-size: 72px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 120px;
  z-index: 1;
}
.cms-home2 .home2-new-hot h1 {
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-size: 58px;
  font-weight: bold;
  line-height: 120px;
}
.cms-home2 .home2-tab .tab-content .tab-pane .home2-countdown {
  text-align: center;
}
.cms-home2 .home2-tab .tab-content .tab-pane .home2-countdown .m1-count-down {
  margin: 0px;
  color: #666;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px;
}
.cms-home2 .home2-tab .tab-content .tab-pane .home2-countdown .m1-count-down li {
  padding: 0 10px;
  display: inline-block;
  margin: 0px;
  border-right: 1px solid #ccc;
}
.cms-home2 .home2-tab .tab-content .tab-pane .home2-countdown .m1-count-down li span {
  line-height: 14px;
  float: left;
  width: 100%;
  font-size: 14px;
}
.cms-home2 .home2-tab .tab-content .tab-pane .home2-countdown .m1-count-down li .m1-number {
  line-height: 36px;
  font-size: 36px;
}
.cms-home2 .home2-tab .tab-content .tab-pane .home2-countdown .m1-count-down li:last-child {
  border: none;
}
.cms-home2 .home2-tab ul {
  border: none;
  margin-top: 30px;
  margin-bottom: 0px;
}
.cms-home2 .home2-tab ul li a {
  line-height: 40px;
  font-size: 24px;
  border: none !important;
}
.cms-home2 .home2-tab ul li a:hover {
  border: none;
  border-bottom: 1px solid #333 !important;
}
.cms-home2 .home2-last-product > h2,
.cms-home2 .home2-last-product > p {
  text-align: center;
  padding: 0 150px;
}
.cms-home2 .home2-last-product > p {
  margin-bottom: 50px;
}
.cms-home2 .home2-last-product h2 {
  font-size: 24px;
  padding-top: 60px;
}
.cms-home2 .home2-last-product h2 p {
  position: relative;
  border-bottom: 4px solid #59B5E4;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.cms-home2 .home2-last-product p {
  color: #666;
}
.cms-home2 .home2-client {
  margin-top: 100px;
}
.cms-home2 .home2-client h2,
.cms-home2 .home2-client p {
  text-align: center;
  margin-bottom: 10px;
}
.cms-home2 .home2-client h2 p,
.cms-home2 .home2-client p p {
  border-bottom: 4px solid #4A8CF7;
  display: inline-block;
  padding-bottom: 10px;
}
.cms-home2 .home2-client > p {
  margin-bottom: 50px;
}
.cms-home2 .home2-client h2 {
  color: #333;
  font-size: 24px;
}
.cms-home2 .home2-client > p {
  padding: 0 150px;
  color: #999;
}
.cms-home2 .home2-client .item-comment {
  position: relative;
  margin: 0 10px;
  overflow: hidden;
}
.cms-home2 .home2-client .item-comment .m1-ishover {
  visibility: hidden;
  position: absolute;
  top: -100%;
  right: 0;
  left: 0;
  height: 100%;
  background-color: #59B5E4;
  z-index: 99;
  color: #fff;
}
.cms-home2 .home2-client .item-comment .m1-ishover a {
  color: #fff;
}
.cms-home2 .home2-client .item-comment:hover .m1-ishover {
  visibility: visible;
  top: 0;
  height: 100%;
  transition: all 0.4s;
}
.cms-home2 .home2-client .item-comment .m1-static-review {
  border: 1px solid #ccc;
  z-index: 80;
  position: relative;
}
.cms-home2 .home2-client .item-comment .m1-static-review .name-reviewer {
  margin-top: 20px;
  margin-bottom: 0px;
}
.cms-home2 .home2-client .item-comment .m1-static-review .date-review {
  font-size: 14px;
  font-style: italic;
}
.cms-home2 .home2-client .item-comment .m1-static-review .productname-review {
  font-size: 20px;
}
.cms-home2 .home2-client #f1_container {
  padding: 10px;
  position: relative;
  width: 100%;
  height: 380px;
  z-index: 1;
}
.cms-home2 .home2-client #f1_container {
  perspective: 1000;
}
.cms-home2 .home2-client #f1_card {
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.2s linear;
}
.cms-home2 .home2-client #f1_container:hover #f1_card {
  transform: rotateY(180deg);
}
.cms-home2 .home2-client .face {
  position: absolute;
  backface-visibility: hidden;
}
.cms-home2 .home2-client .face p {
  margin-bottom: 0px;
}
.cms-home2 .home2-client .face .name-reviewer {
  margin-top: 20px;
  margin-bottom: 0px;
}
.cms-home2 .home2-client .face .date-review {
  font-size: 14px;
  font-style: italic;
}
.cms-home2 .home2-client .face .productname-review {
  font-size: 20px;
}
.cms-home2 .home2-client .face.back {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 20px;
  color: white;
  background-color: #4A8CF7;
  padding-top: 50px;
}
.cms-home2 .home2-client .face.back .avatar-client i {
  display: inline-block;
  width: 100px;
  line-height: 100px;
  border-radius: 100%;
  border: 1px solid #fff;
  font-size: 60px;
  background-color: #fff;
  color: #4A8CF7;
  margin-bottom: 20px;
}
/*END HOME 2*/
@media (max-width: 768px) {
  .home2-client {
    display: none;
  }
  .home2-last-product h2,
  .home2-last-product p {
    margin: 0px;
    padding-top: 20px;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .last-product-right {
    display: none;
  }
  #home2-owl .gray-opicity {
    display: none;
  }
  #home2-owl img {
    max-width: auto;
  }
  #home2-owl h1 {
    display: none;
  }
  .home2-new-hot {
    display: none;
  }
  .home2-new-hot div > div {
    margin-top: 30px;
  }
  .home2-new-hot h1 {
    display: none;
  }
  .product-fluid {
    display: none;
  }
  .m1-count-down {
    display: none !important;
  }
  .m1-newsletter {
    display: none;
  }
  .bot-banner {
    display: none;
  }
}
