@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGOode0-EuMkY--TSyExeINg.woff2) format("woff2"), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format("woff"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format("woff2"), url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format("woff"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCOFnW3Jk0f09zW_Yln67Ac.woff2) format("woff2"), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format("woff"); }
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEo0As1BFRXtCDhS66znb_k.woff2) format("woff2"), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(http://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2"), url(http://fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format("woff"); }
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }
body {
  font-family: Source Sans Pro;
  font-size: 14px;
  color: #0d0d0d; }

.m-hover-eff {
  position: relative; }
  .m-hover-eff .m-skiphover {
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: -120%;
    width: 100%;
    height: 100%; }
    .m-hover-eff .m-skiphover .name {
      text-align: center;
      display: block;
      margin-top: 110px;
      font-size: 16px;
      font-family: Roboto;
      color: #fff; }
      .m-hover-eff .m-skiphover .name:hover {
        color: #59b5e4; }
    .m-hover-eff .m-skiphover .price-box {
      text-align: center; }
      .m-hover-eff .m-skiphover .price-box .price {
        color: #fff !important;
        font-family: Source Sans Pro; }
      .m-hover-eff .m-skiphover .price-box p {
        margin-bottom: 0px; }
      .m-hover-eff .m-skiphover .price-box a {
        color: #fff;
        font-family: Source Sans Pro; }
        .m-hover-eff .m-skiphover .price-box a:hover {
          color: #59b5e4; }
    .m-hover-eff .m-skiphover .ratings {
      padding: 10px 0;
      text-align: center; }
      .m-hover-eff .m-skiphover .ratings .rating-box {
        margin: 0 auto; }
      .m-hover-eff .m-skiphover .ratings .rating-links a, .m-hover-eff .m-skiphover .ratings .rating-links span {
        color: #fff; }
        .m-hover-eff .m-skiphover .ratings .rating-links a:hover, .m-hover-eff .m-skiphover .ratings .rating-links span:hover {
          color: #59b5e4; }
    .m-hover-eff .m-skiphover .actions {
      text-align: center; }
      .m-hover-eff .m-skiphover .actions a, .m-hover-eff .m-skiphover .actions button {
        background-color: transparent;
        border-color: #fff;
        padding: 6px 8px;
        font-size: 12px;
        font-family: Roboto; }
      .m-hover-eff .m-skiphover .actions a:hover, .m-hover-eff .m-skiphover .actions button:hover {
        background-color: transparent;
        border-color: #59b5e4;
        color: #59b5e4; }
        .m-hover-eff .m-skiphover .actions a:hover span, .m-hover-eff .m-skiphover .actions button:hover span {
          color: #59b5e4; }
    .m-hover-eff .m-skiphover .link-wishlist, .m-hover-eff .m-skiphover .link-compare {
      position: absolute;
      right: 8px;
      top: 0px;
      color: #59b5e4;
      font-size: 18px; }
      .m-hover-eff .m-skiphover .link-wishlist:hover, .m-hover-eff .m-skiphover .link-compare:hover {
        color: #fff; }
    .m-hover-eff .m-skiphover .link-compare {
      top: 30px; }
  .m-hover-eff .img-hover:hover + .m-skiphover {
    display: block;
    top: 0px;
    transition: all 0.3s; }
  .m-hover-eff .m-skiphover:hover {
    display: block;
    top: 0px;
    transition: all 0.3s; }

/* header */
#header .links li a {
  color: #0d0d0d;
  font-family: Source Sans Pro;
  font-size: 14px;
  text-transform: uppercase; }

#header-nav .title-all-categories {
  font-size: 15px;
  font-family: Source Sans Pro; }
#header-nav .nav-primary li a {
  font-size: 15px;
  font-family: Source Sans Pro; }

.home2-new-hot h1 {
  font-family: Roboto;
  font-size: 50px !important;
  color: #0d0d0d; }

/*===================================================== home 2 TAB ===================================================== */
.home2-tab .nav-tabs {
  font-size: 55px;
  font-family: Source Sans Pro; }

#f1_container .m1-static-review img {
  width: 90%; }

/*===================================================== home 2 CLIENT ===================================================== */
.home2-client .ratings-table th {
  color: #fff;
  padding-right: 20px; }

.box-tags, .box-up-sell, .box-cross-sell {
  margin: 0 auto;
  max-width: 1200px; }

.product-view {
  margin-top: 30px; }

.add-to-cart-wrapper {
  width: 100%;
  padding-left: 0px; }

.footer .m1-newsletter .block-subscribe .block-title span {
  font-family: Roboto;
  font-size: 22px;
  color: #000; }

#newsletter-validate-detail .button span {
  font-family: Source Sans Pro;
  font-size: 16px;
  color: #000; }

.footer .m1-footer-fluid {
  margin-bootom: 40px; }
.footer .m1-footer-title {
  font-family: Roboto;
  font-size: 22px;
  text-transform: capitalize;
  color: #fff; }
.footer .m1-content-list a, .footer .m1-content-list li, .footer .m1-content-list p {
  color: #a2a2a2;
  font-family: Source Sans Pro;
  font-size: 16px; }

/*# sourceMappingURL=my-main.css.map */
