@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGOode0-EuMkY--TSyExeINg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightIt'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6MAjkyiewWYrWZc50I8hK7I.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/fpTVHK8qsXbIeTHTrnQH6GGomRtBD2u8FwSY4jjlmeA.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGCOFnW3Jk0f09zW_Yln67Ac.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEo0As1BFRXtCDhS66znb_k.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format('woff');
}
/**/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
/*url*/
/*background-color*/
/*color*/
/*fonts*/
/**/
.headding {
  max-width: 770px;
  margin: auto;
  margin-bottom: 50px;
}
.headding .title {
  font-size: 28px;
  text-transform: uppercase;
  display: inline-block;
  font-family: "Roboto";
  border-bottom: 1px solid #d6d6d6;
  position: relative;
  padding: 25px 12px;
  margin-bottom: 15px;
}
.headding .title:after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -3px;
  left: 50%;
  margin-left: -27px;
  width: 54px;
  height: 5px;
  background-color: #4A8CF7;
}
body {
  min-height: 500px;
  max-width: 1920px;
  margin: auto;
  font-size: 16px;
  font-family: "Source Sans Pro", Arial, serif;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}
a {
  color: #000000;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
  color: #4A8CF7;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
ul li,
ol li {
  list-style: none;
}
/*video responsive*/
.video-responsive {
  height: 0;
  padding-top: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}
.video-responsive embed,
.video-responsive iframe,
.video-responsive iframe,
.video-responsive video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border: none;
}
.audio-responsive iframe {
  width: 100%;
  height: 126px;
}
.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-family: "Source Sans Pro";
  padding: 10px 40px;
}
.btn.form-control-feedback {
  border: none;
  pointer-events: auto;
}
.btn:focus {
  outline: none;
}
.btn-default,
.btn {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff;
}
.btn-default:hover,
.btn:hover,
.btn-default:focus,
.btn:focus,
.btn-default.focus,
.btn.focus,
.btn-default:active,
.btn:active,
.btn-default.active,
.btn.active {
  color: #ffffff;
  background-color: #4A8CF7;
  border-color: #4A8CF7;
}
.open .btn-default.dropdown-toggle,
.open .btn.dropdown-toggle {
  color: #ffffff;
  background-color: #4A8CF7;
  border-color: #4A8CF7;
}
.btn-default:active,
.btn:active,
.btn-default.active,
.btn.active {
  background-image: none;
}
.open .btn-default.dropdown-toggle,
.open .btn.dropdown-toggle {
  background-image: none;
}
.btn-default.disabled,
.btn.disabled,
.btn-default[disabled],
.btn[disabled],
fieldset[disabled] .btn-default,
fieldset[disabled] .btn,
.btn-default.disabled:hover,
.btn.disabled:hover,
.btn-default[disabled]:hover,
.btn[disabled]:hover,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn:hover,
.btn-default.disabled:focus,
.btn.disabled:focus,
.btn-default[disabled]:focus,
.btn[disabled]:focus,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn:focus,
.btn-default.disabled:active,
.btn.disabled:active,
.btn-default[disabled]:active,
.btn[disabled]:active,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn:active,
.btn-default.disabled.active,
.btn.disabled.active,
.btn-default[disabled].active,
.btn[disabled].active,
fieldset[disabled] .btn-default.active,
fieldset[disabled] .btn.active {
  background-color: transparent;
  border-color: #ffffff;
}
.btn-default .badge,
.btn .badge {
  color: transparent;
  background-color: #ffffff;
}
/*.btn-shop{
  .button-variables-outline(#fff, transparent, #fff, @color-theme, transparent, @color-theme);
  text-transform: uppercase;
  font-size: 22px;
  font-family: @font-family-once;
  padding: 10px 40px;
}
.btn-view,
.btn-cart{
  .button-variables-outline(#fff, transparent, #fff, @color-theme, transparent, @color-theme);
  text-transform: uppercase;
  font-size: 12px;
  font-family: @font-family-once;
  padding: 6px 12px;
}*/
.btn-wish {
  width: 20px;
  line-height: 20px;
  position: absolute;
  top: 10px;
  right: 15px;
}
.btn-wish:before {
  font-family: 'FontAwesome';
  content: "\f004";
  color: #4A8CF7;
  font-size: 20px;
}
.btn-wish:hover {
  background-color: transparent;
}
.btn-wish:hover:before {
  color: #fff;
}
/*well*/
.well {
  border-radius: 0;
}
/*list-group*/
.list-group-item:last-child,
.list-group-item:first-child {
  border-radius: 0;
}
/*alert*/
.alert {
  border-radius: 0;
}
/*img-thumbnail*/
.img-thumbnail {
  border-radius: 0;
  padding: 0;
}
.img-rounded {
  border-radius: 0;
}
.img-thumbnail,
.img-rounded,
.img-circle {
  max-height: 100%;
}
/*pagination*/
.pagination > li {
  display: inline-block;
}
.pagination > li:first-child > a,
.pagination > li:last-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > span {
  border-radius: 0;
}
.pagination > li > a,
.pagination > li > span {
  border-radius: 0;
  color: #4A8CF7;
  border-color: #4A8CF7;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #4A8CF7;
  color: #fff;
  border-color: #4A8CF7;
}
.pagination .active > a,
.pagination .active > span,
.pagination .active > a:hover,
.pagination .active > span:hover,
.pagination .active > a:focus,
.pagination .active > span:focus {
  background-color: #4A8CF7;
  color: #fff;
}
.pager > li > a,
.pager > li > span {
  color: #4A8CF7;
  border-color: #4A8CF7;
}
.pager > li > a:hover,
.pager > li > span:hover,
.pager > li > a:focus,
.pager > li > span:focus {
  background-color: #4A8CF7;
  color: #fff;
  border-color: #4A8CF7;
}
/*breadcrumb*/
.breadcrumb {
  background-color: #ffffff;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
}
.breadcrumb li {
  color: #000000;
}
.breadcrumb li + li:before {
  color: #000000;
  content: "/";
}
.breadcrumb .active {
  color: #4A8CF7;
}
/*dropdown*/
.dropdown-menu > li > a {
  color: #000000;
  padding: 6px 12px;
}
.dropdown-menu > li > a:hover {
  background-color: #4A8CF7;
  color: #fff;
}
.dropdown-menu .dropdown-header {
  color: #777;
  padding: 6px 12px;
}
/*panel*/
.panel {
  border-radius: 0;
  border-width: 3px 1px 1px;
  border-color: #4A8CF7 #e2e2e2 #e2e2e2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel .panel-heading,
.panel .panel-footer {
  background-color: transparent;
  border-color: #e2e2e2;
}
.form-control {
  border-radius: 0;
}
.form-control::-moz-placeholder {
  color: #ddd;
  font-size: 13px;
}
.input-group-addon {
  border-radius: 0;
}
/*tab*/
.nav-tabs {
  margin-bottom: 15px;
}
.nav-tabs > li > a {
  border-radius: 0;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-color: #ddd #ddd transparent;
  background-color: #fff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #4A8CF7;
}
.nav-pills {
  margin-bottom: 15px;
  text-align: center;
}
.nav-pills > li {
  float: none;
  display: inline-block;
  padding: 0 24px;
  position: relative;
}
.nav-pills > li:after {
  content: "";
  width: 1px;
  height: 24px;
  background-color: #e2e2e2;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -12px;
}
.nav-pills > li > a {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 25px;
  padding: 10px 0;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  color: inherit;
  background-color: transparent;
  border-bottom: 1px solid #4A8CF7;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: inherit;
  background-color: transparent;
  border-bottom: 1px solid #4A8CF7;
}
.tab-content {
  padding-top: 30px;
}
/*owl*/
.owl-controls {
  background-color: transparent;
}
.owl-controls .owl-prev,
.owl-controls .owl-next {
  display: inline-block;
  line-height: 55px;
  width: 55px;
  text-align: center;
  border: 1px solid #ddd;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -27px;
  background-color: #E6E6E6;
  color: #a5a5a5;
}
.owl-controls .owl-prev:before,
.owl-controls .owl-next:before {
  font-family: 'FontAwesome';
  font-size: 18px;
  color: #a5a5a5;
}
.owl-controls .owl-prev:hover,
.owl-controls .owl-next:hover {
  border-color: #4A8CF7;
  background-color: #4A8CF7;
  color: #fff;
}
.owl-controls .owl-prev:hover:before,
.owl-controls .owl-next:hover:before {
  color: #fff;
}
.owl-controls .owl-prev {
  left: -70px;
}
.owl-controls .owl-prev:before {
  content: "\f177";
}
.owl-controls .owl-next {
  right: -70px;
}
.owl-controls .owl-next:before {
  content: "\f178";
}
/*carousel bootstrap*/
.carousel-control {
  height: 40px;
  bottom: auto;
  top: 50%;
  margin-top: -20px;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
.carousel-indicators li {
  border-color: #fff;
  width: 13px;
  height: 13px;
  margin: 0;
}
.carousel-indicators .active {
  background-color: #fff;
  width: 13px;
  height: 13px;
}
.wrap-search {
  position: relative;
  height: 80px;
}
.wrap-search .btn-search {
  text-align: center;
  line-height: 85px;
  display: block;
}
.wrap-search .search-transition {
  position: absolute;
  top: 0;
  right: 0;
}
.wrap-search .search-transition.open input {
  width: 300px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 15px;
}
.wrap-search .search-transition.open .btn-search {
  background: #4A8CF7;
  color: #fff;
}
.wrap-search input {
  background: #ffffff;
  position: relative;
  height: 80px;
  width: 0;
  z-index: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border: none;
  padding: 0;
}
.wrap-search input:hover,
.wrap-search input:focus,
.wrap-search input:active {
  border: none;
}
/*menu*/
.navbar {
  border-radius: 0;
  min-height: 50px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.navbar .navbar-nav > li > a {
  color: #000000;
  padding: 15px 12px;
  font-size: 14px;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #4A8CF7;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .open > a:focus {
  background-color: #4A8CF7;
  color: #fff;
}
.all-categories {
  font-family: "Source Sans Pro";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.all-categories .title-all-categories {
  display: inline-block;
  background-color: #4A8CF7;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  line-height: 75px;
  padding: 0 25px;
}
.all-categories .main-all-categories {
  padding: 0 15px;
  height: 0;
  overflow: hidden;
  border-color: transparent;
  transition: all 0.4s;
}
.all-categories:hover .main-all-categories {
  transition: all 0.4s;
  height: 547px;
  overflow: hidden;
  border-color: #4A8CF7;
}
.all-categories .title-detail-categories {
  text-transform: uppercase;
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  padding: 15px 0;
}
.all-categories .footer-categories {
  background-color: #2a2a2a;
  color: #fff;
  padding: 25px 0 23px;
  text-align: center;
  text-transform: uppercase;
}
.all-categories .footer-categories li {
  text-align: center;
  padding: 0 15px;
}
.all-categories .footer-categories li:before {
  content: "";
  display: block;
  margin: auto;
  margin-bottom: 5px;
  width: 40px;
  height: 28px;
  background-image: url(../img/icon/mega1.png);
  background-repeat: no-repeat;
  background-position: center;
}
.all-categories .footer-categories li:nth-child(2):before {
  background-image: url(../img/icon/mega2.png);
}
.all-categories .footer-categories li:nth-child(3):before {
  background-image: url(../img/icon/mega3.png);
}
.all-categories .footer-categories li:nth-child(4):before {
  background-image: url(../img/icon/mega4.png);
}
.all-categories .footer-categories li:nth-child(5):before {
  background-image: url(../img/icon/mega5.png);
}
.all-categories .footer-categories li:nth-child(6):before {
  background-image: url(../img/icon/mega6.png);
}
.all-categories .list-categories {
  background-color: #202020;
  height: 445px;
  padding: 10px 15px;
}
.all-categories .list-categories li {
  border-bottom: 1px solid #373737;
}
.all-categories .list-categories li a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  padding: 0 12px;
  font-size: 15px;
  line-height: 50px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  transition: all 0.3s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.all-categories .list-categories li a:after {
  font-family: 'FontAwesome';
  content: "\f105";
  margin-left: 15px;
}
.all-categories .list-categories li a:hover {
  color: #4A8CF7;
  padding-left: 33px;
  transition: all 0.3s;
}
.all-categories .list-categories li a:hover:after {
  content: "\f101";
  color: #4A8CF7;
}
.all-categories .list-categories li:last-child {
  border-bottom: none;
}
.all-categories .detail-categories {
  background-color: #3C3C3C;
  overflow: hidden;
}
.all-categories .detail-categories .col-md-4 {
  border-left: 1px solid #636363;
  height: 445px;
}
.all-categories .header-best {
  color: #818181;
  margin-bottom: 30px;
  height: 258px;
  overflow: hidden;
}
.all-categories .header-best .product-img {
  text-align: left;
  margin-bottom: 25px;
}
.all-categories .header-best img {
  height: 190px;
  width: auto;
  display: inline-block;
}
#header-nav {
  background-color: #202020;
}
#header-nav .container {
  position: relative;
}
.nav-primary {
  margin-left: 145px;
  margin-top: 0;
  position: relative;
  z-index: 999;
}
.nav-primary > li > a {
  line-height: 75px;
  font-size: 15px;
  font-family: "Source Sans Pro";
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.nav-primary > li > a:hover {
  color: #4A8CF7;
}
.nav-primary > li > ul {
  top: 75px !important;
  border: none !important;
  background-color: #202020 !important;
}
.nav-primary > li > ul li {
  border-bottom: 1px solid #373737;
}
.nav-primary > li > ul li a {
  color: #fff;
  display: block;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 400;
  line-height: 50px;
  overflow: hidden;
  padding: 0 12px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}
.nav-primary > li > ul li a:hover {
  color: #4A8CF7;
  padding-left: 20px;
}
.page-header {
  margin-bottom: 0;
  border: none;
  margin: auto;
  max-width: 100%;
  padding: 0;
}
section {
  margin-bottom: 60px;
}
.slide-banner {
  margin-bottom: 0;
}
.slide-banner img {
  width: 100%;
}
.slide-banner .opacity {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 10;
}
.slide-banner p {
  margin: 0;
  line-height: 1.1;
}
.slide-banner .btn {
  margin-top: 30px;
}
.slide-banner .caption {
  text-align: center;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 80px;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 55;
}
.slide-banner .caption:after {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 24px;
  height: 36px;
  background-image: url(../img/icon/arrow-down.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.banner li {
  float: left;
  width: 25%;
  margin: 0 !important;
}
.banner .box-banner {
  position: relative;
}
.banner .box-banner p {
  margin: 0;
  line-height: 1.1;
}
.banner .box-banner .caption {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 30px;
  font-family: "Roboto";
  font-weight: 300;
}
.banner .btn {
  font-size: 12px;
  margin-top: 15px;
}
.banner .box-banner2 .caption {
  top: 30%;
  left: 30px;
  text-align: left;
}
.banner .box-banner3 .caption {
  top: 30%;
  right: 30px;
  text-align: right;
}
.banner .box-banner4 .caption {
  top: 87px;
}
.banner .box-banner5 .caption {
  top: 87px;
}
.banner .box-banner6 .caption {
  top: 30%;
  left: 30px;
  text-align: left;
}
.block-product {
  background-color: #EA9B3E;
  font-size: 40px;
  font-weight: 300;
  margin-top: 80px;
}
.block-product .title {
  font-size: 70px;
  font-family: "Roboto";
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 90px;
}
.block-product img {
  margin-top: -70px;
}
.block-product.block-product1 {
  background-color: #36D6F6;
}
.block-product.block-product2 {
  margin-bottom: 0;
}
.block-product .btn {
  color: #0d0d0d;
  background-color: transparent;
  border-color: #0d0d0d;
  margin-bottom: 70px;
}
.block-product .btn:hover,
.block-product .btn:focus,
.block-product .btn.focus,
.block-product .btn:active,
.block-product .btn.active {
  color: #ffffff;
  background-color: #4A8CF7;
  border-color: #4A8CF7;
}
.open .block-product .btn.dropdown-toggle {
  color: #ffffff;
  background-color: #4A8CF7;
  border-color: #4A8CF7;
}
.block-product .btn:active,
.block-product .btn.active {
  background-image: none;
}
.open .block-product .btn.dropdown-toggle {
  background-image: none;
}
.block-product .btn.disabled,
.block-product .btn[disabled],
fieldset[disabled] .block-product .btn,
.block-product .btn.disabled:hover,
.block-product .btn[disabled]:hover,
fieldset[disabled] .block-product .btn:hover,
.block-product .btn.disabled:focus,
.block-product .btn[disabled]:focus,
fieldset[disabled] .block-product .btn:focus,
.block-product .btn.disabled:active,
.block-product .btn[disabled]:active,
fieldset[disabled] .block-product .btn:active,
.block-product .btn.disabled.active,
.block-product .btn[disabled].active,
fieldset[disabled] .block-product .btn.active {
  background-color: transparent;
  border-color: #0d0d0d;
}
.block-product .btn .badge {
  color: transparent;
  background-color: #0d0d0d;
}
.Latest-from-shop {
  padding-bottom: 60px;
}
.Latest-from-shop .l-product .img {
  margin-bottom: 40px;
}
.Latest-from-shop .l-product .name {
  display: inline-block;
  border-bottom: 1px solid #cccccc;
  position: relative;
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 25px;
  font-variant: "Roboto";
  margin-bottom: 20px;
}
.Latest-from-shop .l-product .name:after {
  content: "";
  width: 55px;
  height: 5px;
  background-color: #4A8CF7;
  position: absolute;
  bottom: -3px;
  left: 0;
}
.Latest-from-shop .l-product .price {
  color: #545454;
  margin-bottom: 20px;
}
.Latest-from-shop .l-product .price .amount {
  font-size: 40px;
  font-weight: 600;
}
.Latest-from-shop .l-product .price .amount-old {
  text-decoration: line-through;
  font-size: 28px;
  margin-right: 15px;
}
.Latest-from-shop .l-product .btn {
  font-size: 14px;
  color: #545454;
  background-color: transparent;
  border-color: #545454;
}
.Latest-from-shop .l-product .btn:hover,
.Latest-from-shop .l-product .btn:focus,
.Latest-from-shop .l-product .btn.focus,
.Latest-from-shop .l-product .btn:active,
.Latest-from-shop .l-product .btn.active {
  color: #ffffff;
  background-color: #4A8CF7;
  border-color: #4A8CF7;
}
.open .Latest-from-shop .l-product .btn.dropdown-toggle {
  color: #ffffff;
  background-color: #4A8CF7;
  border-color: #4A8CF7;
}
.Latest-from-shop .l-product .btn:active,
.Latest-from-shop .l-product .btn.active {
  background-image: none;
}
.open .Latest-from-shop .l-product .btn.dropdown-toggle {
  background-image: none;
}
.Latest-from-shop .l-product .btn.disabled,
.Latest-from-shop .l-product .btn[disabled],
fieldset[disabled] .Latest-from-shop .l-product .btn,
.Latest-from-shop .l-product .btn.disabled:hover,
.Latest-from-shop .l-product .btn[disabled]:hover,
fieldset[disabled] .Latest-from-shop .l-product .btn:hover,
.Latest-from-shop .l-product .btn.disabled:focus,
.Latest-from-shop .l-product .btn[disabled]:focus,
fieldset[disabled] .Latest-from-shop .l-product .btn:focus,
.Latest-from-shop .l-product .btn.disabled:active,
.Latest-from-shop .l-product .btn[disabled]:active,
fieldset[disabled] .Latest-from-shop .l-product .btn:active,
.Latest-from-shop .l-product .btn.disabled.active,
.Latest-from-shop .l-product .btn[disabled].active,
fieldset[disabled] .Latest-from-shop .l-product .btn.active {
  background-color: transparent;
  border-color: #545454;
}
.Latest-from-shop .l-product .btn .badge {
  color: transparent;
  background-color: #545454;
}
.Latest-from-shop .l-product-right .img {
  margin-bottom: 30px;
  background-color: #FEFBF6;
  border: 1px solid #dfdfdf;
  text-align: center;
}
.Latest-from-shop .l-product-right .row {
  text-align: center;
}
.Latest-from-shop .l-product-right .row .img-thumbnail {
  background-color: #FBFBFB;
}
.new-imac {
  background-color: #FEFBF6;
  border: 1px solid #dfdedc;
  margin-bottom: 0;
}
.new-imac .product-new {
  float: left;
  width: 25%;
  min-height: 480px;
  text-align: center;
}
.new-imac .product-new:nth-child(2) {
  width: 50%;
  border-width: 0 1px;
  border-color: #dfdedc;
  border-style: solid;
}
.new-imac .product-new:nth-child(2) .img {
  float: left;
  margin-right: 20px;
}
.new-imac .product-new:nth-child(2) .caption {
  overflow: hidden;
  padding-top: 20%;
  text-align: left;
}
.new-imac .product-new:nth-child(2) .name {
  font-size: 25px;
  text-transform: capitalize;
  font-family: "Roboto";
  margin-bottom: 15px;
}
.new-imac .product-new:nth-child(2) .price {
  font-size: 31px;
  margin-bottom: 15px;
}
.new-imac .product-new:nth-child(2) .price .amount-old {
  text-decoration: line-through;
  margin-right: 10px;
}
.new-imac .price {
  margin-bottom: 15px;
}
.new-imac .price .amount-old {
  text-decoration: line-through;
  margin-right: 10px;
}
.new-imac .name {
  font-size: 16px;
  text-transform: capitalize;
  font-family: "Roboto";
  margin-bottom: 15px;
}
.new-imac .img {
  padding-top: 50px;
  margin-bottom: 20px;
}
.new-imac img {
  max-width: 100%;
}
.new-imac .btn {
  font-size: 13px;
  padding: 6px 12px;
  margin: 0 5px 0 0;
  color: #545454;
  background-color: transparent;
  border-color: #545454;
}
.new-imac .btn:hover,
.new-imac .btn:focus,
.new-imac .btn.focus,
.new-imac .btn:active,
.new-imac .btn.active {
  color: #ffffff;
  background-color: #4A8CF7;
  border-color: #4A8CF7;
}
.open .new-imac .btn.dropdown-toggle {
  color: #ffffff;
  background-color: #4A8CF7;
  border-color: #4A8CF7;
}
.new-imac .btn:active,
.new-imac .btn.active {
  background-image: none;
}
.open .new-imac .btn.dropdown-toggle {
  background-image: none;
}
.new-imac .btn.disabled,
.new-imac .btn[disabled],
fieldset[disabled] .new-imac .btn,
.new-imac .btn.disabled:hover,
.new-imac .btn[disabled]:hover,
fieldset[disabled] .new-imac .btn:hover,
.new-imac .btn.disabled:focus,
.new-imac .btn[disabled]:focus,
fieldset[disabled] .new-imac .btn:focus,
.new-imac .btn.disabled:active,
.new-imac .btn[disabled]:active,
fieldset[disabled] .new-imac .btn:active,
.new-imac .btn.disabled.active,
.new-imac .btn[disabled].active,
fieldset[disabled] .new-imac .btn.active {
  background-color: transparent;
  border-color: #545454;
}
.new-imac .btn .badge {
  color: transparent;
  background-color: #545454;
}
.doi-tac {
  background-color: #F7F3F4;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
}
.doi-tac .owl-doi-tac {
  margin: 45px 0;
  text-align: center;
}
.doi-tac .shipping {
  background-color: #202020;
  color: #fff;
  padding: 54px 0;
  text-transform: uppercase;
  font-family: "Roboto";
}
.doi-tac .shipping .col-md-4 {
  position: relative;
}
.doi-tac .shipping .col-md-4:after {
  content: "";
  height: 130px;
  width: 1px;
  background-color: #4d4d4d;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -65px;
}
.doi-tac .shipping .col-md-4:last-child:after {
  content: none;
}
.doi-tac .shipping p {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 2px;
}
.doi-tac .shipping span {
  font-size: 24px;
}
.doi-tac .shipping .pull-left {
  margin-left: 35px;
}
.doi-tac .shipping .pull-right {
  margin-right: 35px;
  padding-top: 10px;
}
.box-Countdown {
  border: 1px solid #575757;
  display: inline-block;
  margin-bottom: 80px;
}
.box-Countdown .countdown-row {
  clear: both;
  width: 100%;
  padding: 0px 5px;
  text-align: center;
}
.box-Countdown .countdown-row .countdown-section {
  display: inline-block;
  margin-right: 0px;
  text-align: center;
  background-color: transparent;
  padding: 20px 0 10px;
  color: #000000;
  width: 90px;
  /*border: 2px solid @color-theme;*/
}
.box-Countdown .countdown-row .countdown-section .countdown-amount {
  font-size: 34px;
  display: block;
  font-family: "Roboto";
  font-weight: 400;
  color: #575757;
  line-height: 1;
  padding: 0 15px;
  border-right: 1px solid #e2e2e2;
}
.box-Countdown .countdown-row .countdown-section .countdown-period {
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
}
.box-Countdown .countdown-row .countdown-section:last-child .countdown-amount {
  border-right: none;
}
.product {
  max-width: 270px;
  height: 425px;
  display: block;
  margin: auto;
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
}
.product .img {
  position: relative;
  display: block;
  text-align: center;
  background-color: #FAFAFA;
  border: 1px solid #dfdfdf;
  height: 360px;
  padding-top: 77px;
}
.product .img img {
  max-width: 100%;
  display: inline-block;
}
.product .caption {
  transition: all 0.4s;
  padding-top: 15px;
}
.product .caption .star {
  display: none;
  margin-bottom: 20px;
}
.product .caption .ratings {
  text-align: center;
}
.product .caption .ratings .rating-box {
  display: inline-block;
}
.product .caption .ratings .amount {
  display: none;
}
.product .caption .box-btn {
  display: none;
}
.product .caption .btn {
  margin: 5px;
  padding: 6px 12px;
  font-size: 12px;
}
.product .caption .btn-wish {
  padding: 0;
  margin: 0;
  border: none;
}
.product .name {
  display: block;
  margin-bottom: 6px;
  font-size: 16px;
  color: #0d0d0d;
  font-family: "Roboto";
}
.product .name:hover {
  color: #4A8CF7;
}
.product .price {
  font-size: 15px;
}
.product .price .amount-old {
  text-decoration: line-through;
  margin-right: 17px;
}
.product:hover .caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  transition: all 0.4s;
  padding-top: 120px;
  text-align: center;
}
.product:hover .caption .star {
  display: block;
}
.product:hover .caption .box-btn {
  display: block;
}
.product:hover .caption .name {
  color: #fff;
}
.product:hover .caption .name:hover {
  color: #4A8CF7;
}
.all-categories .product {
  max-width: auto;
  height: auto;
  color: #818181;
  font-family: "Source Sans Pro";
  margin-bottom: 30px;
}
.all-categories .product .product-img {
  float: left;
  margin-right: 10px;
  max-width: 70px;
}
.all-categories .product .product-name {
  color: #fff;
  text-transform: uppercase;
}
.all-categories .product .product-name:hover {
  color: #4A8CF7;
}
.all-categories .product .caption {
  overflow: hidden;
  padding: 0;
  height: 65px;
}
.all-categories .product:hover .caption {
  position: relative;
  bottom: auto;
  padding: 0;
  text-align: left;
  background-color: transparent;
  color: inherit;
}
