	<!-- MAIN HOME 2 BANER ==================================================-->
	<div id="home2-owl" class="owl-carousel">
		<div>
			<img src="<?php echo $this->getSkinUrl('images/m-banner1.jpg') ?>" class="img-responsive" alt="Image">
			<div class="container">
				<h1>BUY NEW CANON CAMERA </h1>
			</div>
			<div class="gray-opicity"></div>
		</div>
		<div>
			<img src="<?php echo $this->getSkinUrl('images/m-banner2.jpg') ?>" class="img-responsive" alt="Image">
			<div class="container">
				<h1>BUY something eles</h1>
			</div>
			<div class="gray-opicity"></div>
		</div>
		<div>
			<img src="<?php echo $this->getSkinUrl('images/m-banner1.jpg') ?>" class="img-responsive" alt="Image">
			<div class="container">
				<h1>BUY promoution</h1>
			</div>
			<div class="gray-opicity"></div>
		</div>
	</div>