<div class="home2-brand container">
		<div id="home2-brand" class="owl-carousel">
			<img src="<?php echo $this->getSkinUrl('images/brand1.png') ?>" class="img-responsive" alt="Image">
			<img src="<?php echo $this->getSkinUrl('images/brand2.png') ?>" class="img-responsive" alt="Image">
			<img src="<?php echo $this->getSkinUrl('images/brand3.png') ?>" class="img-responsive" alt="Image">
			<img src="<?php echo $this->getSkinUrl('images/brand4.png') ?>" class="img-responsive" alt="Image">
			<img src="<?php echo $this->getSkinUrl('images/brand1.png') ?>" class="img-responsive" alt="Image">
			<img src="<?php echo $this->getSkinUrl('images/brand2.png') ?>" class="img-responsive" alt="Image">
		</div>
	</div><!-- END HOME2-INFO -->