	<!-- MAIN HOME 2 HOT NEW ==================================================-->
	<?php 
	/* m-memo SET CATLOG TO SHOW*/
		$new_product=14;
		$hot_sale=10;
	?>
	<div class="home2-new-hot container">
		<div class="row">
			<div class="col-md-6">
				<a href="<?php echo Mage::getModel("catalog/category")->load($new_product)->getUrl();?>">
				<!-- m-memo insert variable product-->
					<img src="<?php echo $this->getSkinUrl('images/MKLE2_FV100.jpg') ?>" class="img-responsive" alt="Image">
				</a>
				<h1>NEW COLLECTIONS</h1>
			</div>
			<div class="col-md-6">
				<a href="<?php echo Mage::getModel("catalog/category")->load($hot_sale)->getUrl();?>">
					<!-- m-memo insert variable product-->
					<img src="<?php echo $this->getSkinUrl('images/HGRT2_FV110.jpg') ?>" class="img-responsive" alt="Image">
				</a>
				<h1>HOT SALE</h1>
			</div>
		</div>
	</div>