<?php 
$collection = Mage::getModel('review/review')->getCollection()
                ->addStoreFilter(Mage::app()->getStore()->getId())
                ->addStatusFilter(Mage_Review_Model_Review::STATUS_APPROVED)
                ->setDateOrder()->setPageSize(8)
                ->addRateVotes()->getItems();
?>	
	<div class="home2-client container">
		<h2><p>Client Say</p></h2>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
		<div id="m1-review-owl">
			<?php foreach ($collection as $collect => $_review):
				$_product = Mage::getModel('catalog/product')->load($_review->getData('entity_pk_value'));
				$_votes = $_review->getRatingVotes();
			?>

			<div id="f1_container">
				<div id="f1_card" class="shadow">
					<div class="front face">
						<div class="m1-static-review">
							<p class="name-reviewer">Review by <?php echo $_review->getNickname() ?></p>
							<p class="date-review"><?php echo $_review->getCreatedAt()?></p>
							<p class="productname-review"><?php echo $_product->getName()?></p>
							<img src="<?php echo $_product->getImageUrl() ?>" class="img-responsive" alt="Image">
						</div>
					</div>
					<div class="back face center">
						<p class="avatar-client">
							<i class="fa fa-user"></i>
						</p>
						<?php 
						  $entityId = $_product->getId();
						  $reviewsCount = Mage::getModel('review/review')
						  ->getTotalReviews($entityId, true);
						  if ($reviewsCount == 0) {
						  	#return Mage::helper('rating')->__('Be the first to review this product');
						  	//$this->setTemplate('rating/empty.phtml');
						  	//return parent::_toHtml();
						  } else {
						  
						  $ratingCollection = Mage::getModel('rating/rating')
						  ->getResourceCollection()
						  ->addEntityFilter('product') # TOFIX
						  ->setPositionOrder()
						  ->setStoreFilter(Mage::app()->getStore()->getId())
						  ->addRatingPerStoreName(Mage::app()->getStore()->getId())
						  ->load();
						  
						  if ($entityId) {
						  	 $ratingCollection->addEntitySummaryToItem($entityId, Mage::app()->getStore()->getId());
						  	 
						  	 ?>
						  	<?php if(!empty($ratingCollection) && $ratingCollection->getSize()): ?>
							    <table class="ratings-table">
							        <colgroup>
							            <col class="review-label" />
							            <col class="review-value" />
							        </colgroup>
							        <tbody>
							            <?php foreach ($ratingCollection as $_rating): ?>
							                <?php if($_rating->getSummary()): ?>
							                    <tr>
							                        <th><?php echo $this->__($this->escapeHtml($_rating->getRatingCode())) ?></th>
							                        <td>
							                            <div class="rating-box">
							                                <div class="rating" style="width:<?php echo ceil($_rating->getSummary()) ?>%;"></div>
							                            </div>
							                        </td>
							                    </tr>
							                <?php endif; ?>
							            <?php endforeach; ?>
							        </tbody>
							    </table>
							<?php endif; }}?>
                        <br>
                        <p> <button type="button" class="btn btn-large btn-block btn-primary">View more</button></p>
					</div>
				</div>
			</div>
			 <?php endforeach;?>
			 </div>

	</div><!-- END Client -->



















	<?php 

$topRateBlock = Mage::getBlockSingleton('flexmegamenu/product_toprate');

$_productCollection = $topRateBlock->getTop();

//echo count($_productCollection);
?>

<div class="home2-client container">
<h2><p>Client Say</p></h2>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>


 <?php  foreach($_productCollection as $_product) : ?>
						<div>
						<div class="front face">
							<!-- image -->
	                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135) ?>" width="135" height="135" alt="<?php echo $this->escapeHtml($_product->getName()) ?>" />
	                    </a>
			                <!-- name -->
			             <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>"><?php echo $this->escapeHtml($_product->getName()) ?>
			             </a>
			             </h3>
			                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
			                <?php echo $this->getPriceHtml($_product, true, '-new') ?>
			                <div class="actions">
			                    <?php if($_product->isSaleable()): ?>
			                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
			                    <?php else: ?>
			                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
			                    <?php endif; ?>
			                    <ul class="add-to-links">
			                        <?php if ($this->helper('wishlist')->isAllow()) : ?>
			                            <li><a href="<?php echo $this->getAddToWishlistUrl($_product) ?>" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
			                        <?php endif; ?>
			                        <?php if ($_compareUrl = $this->getAddToCompareUrl($_product)): ?>
			                            <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
			                        <?php endif; ?>
			                    </ul>
			                </div>

						</div>
						
						<div class="aaa">
						
						  <?php 
						  $entityId = $_product->getId();
						  $reviewsCount = Mage::getModel('review/review')
						  ->getTotalReviews($entityId, true);
						  if ($reviewsCount == 0) {
						  	#return Mage::helper('rating')->__('Be the first to review this product');
						  	//$this->setTemplate('rating/empty.phtml');
						  	//return parent::_toHtml();
						  } else {
						  
						  $ratingCollection = Mage::getModel('rating/rating')
						  ->getResourceCollection()
						  ->addEntityFilter('product') # TOFIX
						  ->setPositionOrder()
						  ->setStoreFilter(Mage::app()->getStore()->getId())
						  ->addRatingPerStoreName(Mage::app()->getStore()->getId())
						  ->load();
						  
						  if ($entityId) {
						  	 $ratingCollection->addEntitySummaryToItem($entityId, Mage::app()->getStore()->getId());
						  	 
						  	 ?>
						  	 <?php if(!empty($ratingCollection) && $ratingCollection->getSize()): ?>
							    <table class="ratings-table">
							        <colgroup>
							            <col class="review-label" />
							            <col class="review-value" />
							        </colgroup>
							        <tbody>
							            <?php foreach ($ratingCollection as $_rating): ?>
							                <?php if($_rating->getSummary()): ?>
							                    <tr>
							                        <th><?php echo $this->__($this->escapeHtml($_rating->getRatingCode())) ?></th>
							                        <td>
							                            <div class="rating-box">
							                                <div class="rating" style="width:<?php echo ceil($_rating->getSummary()) ?>%;"></div>
							                            </div>
							                        </td>
							                    </tr>
							                <?php endif; ?>
							            <?php endforeach; ?>
							        </tbody>
							    </table>
							<?php endif; ?>
							  	 <?php }} ?>
						</div>
						
						<div>
						
						</div>

						</div>
					<?php endforeach; ?>
