<div class="home2-fluid container-fluid">

	<div class="container">
		
	</div>
	<!-- MAIN HOME 2 BANER ==================================================-->

	<div id="home2-owl" class="owl-carousel">
		<div>
				<img src="<?php echo $this->getSkinUrl('images/nikon-banner.png') ?>" class="img-responsive" alt="Image">
			<div class="container">
				<h1>BUY NEW CANON CAMERA </h1>
			</div>
			<div class="gray-opicity"></div>
		</div>
		<div>
			<img src="<?php echo $this->getSkinUrl('images/nikon-banner.png') ?>" class="img-responsive" alt="Image">
			<div class="container">
				<h1>BUY NEW CANON CAMERA</h1>
			</div>
			<div class="gray-opicity"></div>
		</div>
		<div>
			<img src="<?php echo $this->getSkinUrl('images/nikon-banner.png') ?>" class="img-responsive" alt="Image">
			<div class="container">
				<h1>BUY NEW CANON CAMERA </h1>
			</div>
			
		</div>
	</div>
	<!-- MAIN HOME 2 HOT NEW ==================================================-->
	<?php 
	/* m-memo SET CATLOG TO SHOW*/
		$new_product=14;
		$hot_sale=10;
	?>
	<div class="home2-new-hot container">
		<div class="row">
			<div class="col-md-6">
				<a href="<?php echo Mage::getModel("catalog/category")->load($new_product)->getUrl();?>">
				<!-- m-memo insert variable product-->
					<img src="<?php echo $this->getSkinUrl('images/MKLE2_FV100.jpg') ?>" class="img-responsive" alt="Image">
				</a>
				<h1>NEW COLLECTIONS</h1>
			</div>
			<div class="col-md-6">
				<a href="<?php echo Mage::getModel("catalog/category")->load($hot_sale)->getUrl();?>">
					<!-- m-memo insert variable product-->
					<img src="<?php echo $this->getSkinUrl('images/HGRT2_FV110.jpg') ?>" class="img-responsive" alt="Image">
				</a>
				<h1>HOT SALE</h1>
			</div>
		</div>
	</div>
	<!-- MAIN HOME 2 NAV-TAB ==================================================-->
	<div class="home2-tab container">
		<div class="row">
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><?php echo "DEAL OF THE WEEK" ?></a></li>
		    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><?php echo "NEW COLLECTION" ?></a></li>
		    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><?php echo "FEATURED ITEM" ?></a></li>
		    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><?php echo "TRENDING ITEM" ?></a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="home">
		    	<div class="home2-countdown row">
		    		<h3>30 Days 20Hours 12Mins</h3>
		    	</div>
		    	<div id="home2-deal-owl" class="owl-carousel">
					<?php
						$_productCollection = Mage::getResourceModel('reports/product_collection')
						                    ->addAttributeToSelect('*')
						                    ->setVisibility(array(2,3,4))
						                    ->setOrder('name', 'desc')
						                    ->setPage(1, 8);
					?>
					 <?php  foreach($_productCollection as $_product) : ?>
					<div>
						<a href="<?php echo $_product->getProductUrl() ?>">
							<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" class="img-responsive" alt="Image">
						</a>
						<h2 class="product-name">
							<a href="<?php echo $_product->getProductUrl(); ?>"><?php echo $_product->getName(); ?>
							</a>
						</h2>
						<?php echo $_product->getPrice(); ?>
					</div>
				<?php endforeach; ?>
				</div>
		    </div>
		    <!-- <li class="item<?php if( ++$_iterator == sizeof($_productCollection) ): ?> last<?php endif; ?>">
                <?php // Product Image ?>
                       <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>

                      	<div class="product-shop">
                            <div class="f-fix">
                                <h2 class="product-name"><a href="<?php echo $_product->getProductUrl(); ?>"><?php echo $_product->getName(); ?></h2>
                                 <?php echo $this->getPriceHtml($_product, true) ?>
                                <?php if($_product->isSaleable()): ?>
                                    <p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                                <?php else: ?>
                                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                <?php endif; ?>
                        	</div>
                    	</div>
              </li> -->
		    <div role="tabpanel" class="tab-pane" id="profile">
		    	<div id="home2-new-owl" class="owl-carousel">
					<?php
						$_productCollection = Mage::getResourceModel('reports/product_collection')
						                    ->addAttributeToSelect('*')
						                    ->setVisibility(array(2,3,4))
						                    ->setOrder('created_at', 'desc')
						                    ->setPage(1, 8);
					?>
					 <?php  foreach($_productCollection as $_product) : ?>
					<div>
						<a href="<?php echo $_product->getProductUrl() ?>">
							<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" class="img-responsive" alt="Image">
						</a>
						<h2 class="product-name">
							<a href="<?php echo $_product->getProductUrl(); ?>"><?php echo $_product->getName(); ?>
							</a>
						</h2>
						<?php echo $_product->getPrice(); ?>
					</div>
				<?php endforeach; ?>
				</div>
		    </div>

		    <div role="tabpanel" class="tab-pane" id="messages">
		    	<div id="home2-feature-owl" class="owl-carousel">
					<?php
						$_productCollection = Mage::getResourceModel('reports/product_collection')
						                    ->addAttributeToSelect('*')
						                    ->setVisibility(array(2,3,4))
						                    ->setOrder('created_at', 'desc')
						                    ->setPage(1, 8);
					?>
					 <?php  foreach($_productCollection as $_product) : ?>
					<div>
						<a href="<?php echo $_product->getProductUrl() ?>">
							<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" class="img-responsive" alt="Image">
						</a>
						<h2 class="product-name">
							<a href="<?php echo $_product->getProductUrl(); ?>"><?php echo $_product->getName(); ?>
							</a>
						</h2>
						<?php echo $_product->getPrice(); ?>
					</div>
				<?php endforeach; ?>
				</div>
		    </div>

		    <div role="tabpanel" class="tab-pane" id="settings">
		    	<div id="home2-trending-owl" class="owl-carousel">
					<?php
						$_productCollection = Mage::getResourceModel('reports/product_collection')
						                    ->addAttributeToSelect('*')
						                    ->setVisibility(array(2,3,4))
						                    ->setOrder('created_at', 'desc')
						                    ->setPage(1, 8);
					?>
					 <?php  foreach($_productCollection as $_product) : ?>
					<div>
						<a href="<?php echo $_product->getProductUrl() ?>">
							<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" class="img-responsive" alt="Image">
						</a>
						<h2 class="product-name">
							<a href="<?php echo $_product->getProductUrl(); ?>"><?php echo $_product->getName(); ?>
							</a>
						</h2>
						<?php echo $_product->getPrice(); ?>
					</div>
				<?php endforeach; ?>
				</div>
		    </div>
		  </div><!-- END TAB CONTENT-->
		</div><!-- END TAB -->
	</div><!-- END HOME2-TAB -->

	<div class="home2-banner2">
		<img src="<?php echo $this->getSkinUrl('images/banner2.jpg') ?>" class="img-responsive" alt="Image">
	</div><!-- END home2-banner2 -->

	<div class="home2-last-product container">
		<!-- m-memo insert dynamic product by feature-->
		<h2>Lastest from shop</h2>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
		<div class="col-md-4">
			<ul>
			    <?php
			    $store_id = Mage::app()->getStore()->getId();
			    $_productCollection = Mage::getResourceModel('reports/product_collection')
			      ->addStoreFilter($store_id)
			      ->addAttributeToFilter('visibility', 4)
			      ->addAttributeToFilter('status', 1)  
			      ->addAttributeToSelect('*')
			      ->setVisibility(array(2,3,4))                          
			      ->setOrder('created_at', 'desc')
			      ->setPage(1, 1);
			    ?>
			    <li>
			    <?php foreach($_productCollection as $_product) : ?>
			      <div>
			        <div>
			          <a href="<?php echo $_product->getProductUrl(); ?>">
			            <img class="img-responsive" style="border: 1px solid #333" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" alt="" />
			          </a>
			        </div>
			        <div>
			          <a href="<?php echo $_product->getProductUrl(); ?>" title="<?php echo $_product->getName(); ?>"><?php echo $_product->getName(); ?></a>
			        </div>
			      </div>
			    <?php endforeach; ?>
			    </li>
			</ul>
		</div>
		<div class="col-md-8">
			<div class="col-md-12">
				<img class="img-responsive" style="border: 1px solid #333" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(800, 500); ?>" alt="" />
			</div>

			<div id="home2-last-img-owl" class="owl-carousel">

				<div>
					<img class="img-responsive" style="border: 1px solid #333" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" alt="" />
				</div>

				<div>
					<img class="img-responsive" style="border: 1px solid #333" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" alt="" />
				</div>
				<div>
					<img class="img-responsive" style="border: 1px solid #333" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" alt="" />
				</div>
				
				<div>
					<img class="img-responsive" style="border: 1px solid #333" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" alt="" />
				</div>
				<div>
					<img class="img-responsive" style="border: 1px solid #333" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" alt="" />
				</div>
				
				<div>
					<img class="img-responsive" style="border: 1px solid #333" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" alt="" />
				</div>
				<div>
					<img class="img-responsive" style="border: 1px solid #333" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" alt="" />
				</div>
				
				<div>
					<img class="img-responsive" style="border: 1px solid #333" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200); ?>" alt="" />
				</div>

			</div>	
		</div>
	</div><!-- END Lastest from product -->

	<div class="home2-client container">
		<h2>Client Say</h2>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
		<div class="row">
			<div class="col-md-3">
				<img src="<?php echo $this->getSkinUrl('images/client.png') ?>" class="img-responsive" alt="Image">
			</div>

			<div class="col-md-3">
				<img src="<?php echo $this->getSkinUrl('images/client.png') ?>" class="img-responsive" alt="Image">
			</div>
			<div class="col-md-3">
				<img src="<?php echo $this->getSkinUrl('images/client.png') ?>" class="img-responsive" alt="Image">
			</div>
			<div class="col-md-3">
				<img src="<?php echo $this->getSkinUrl('images/client.png') ?>" class="img-responsive" alt="Image">
			</div>
		</div>
	</div><!-- END Client -->

	<div class="product-fluid row">
		<div class="col-md-3">
			<img src="<?php echo $this->getSkinUrl('images/prdx2.png') ?>" class="img-responsive" alt="Image">
		</div>
		<div class="col-md-6">
			<img src="<?php echo $this->getSkinUrl('images/prdx1.png') ?>" class="img-responsive" alt="Image">
		</div>
		<div class="col-md-3">
			<img src="<?php echo $this->getSkinUrl('images/prdx3.png') ?>" class="img-responsive" alt="Image">
		</div>
	</div><!-- END Product-fluid -->

	<div class="home2-brand container">
		<div id="home2-brand" class="owl-carousel">
			<img src="<?php echo $this->getSkinUrl('images/brand1.png') ?>" class="img-responsive" alt="Image">
			<img src="<?php echo $this->getSkinUrl('images/brand2.png') ?>" class="img-responsive" alt="Image">
			<img src="<?php echo $this->getSkinUrl('images/brand3.png') ?>" class="img-responsive" alt="Image">
			<img src="<?php echo $this->getSkinUrl('images/brand4.png') ?>" class="img-responsive" alt="Image">
			<img src="<?php echo $this->getSkinUrl('images/brand1.png') ?>" class="img-responsive" alt="Image">
			<img src="<?php echo $this->getSkinUrl('images/brand2.png') ?>" class="img-responsive" alt="Image">
		</div>
	</div><!-- END HOME2-INFO -->

	<div class="container">
		<img src="<?php echo $this->getSkinUrl('images/home2-info.png') ?>" class="img-responsive" alt="Image">
	</div>

</div>
