<?php
	$block = Mage::getBlockSingleton('flexmegamenu/product_new');
	$_product = $block->getLastestProducts();
?>
	<div class="home2-last-product container">
		<!-- m-memo insert dynamic product by feature-->
		<h2><p>Lastest from shop</p></h2>
		<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
		<div class="last-product-left col-md-4">
			      <div>
			        <div>
				        <a href="<?php echo $_product->getProductUrl(); ?>">
				            <img class="img-responsive" style="border: 1px solid #333" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" alt="" />
				        </a>
			        </div>
			        <div>
				        <a class="title" href="<?php echo $_product->getProductUrl(); ?>" title="<?php echo $_product->getName(); ?>"><?php echo $_product->getName(); ?>
				        </a>
				        <p><?php echo $_product->getDescription(); ?></p>
				        <p class="price"><?php echo $_product->getPrice(); ?></p>

				        <div class="actions">
                        <?php if(!$_product->canConfigure() && $_product->isSaleable()): ?>
                            <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                        <?php elseif($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>
                            <a title="<?php echo $this->__('View Details') ?>" class="button" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View Details') ?></a>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php endif; ?>
                    </div>

			        </div>
			      </div>

		</div>
		<div class="last-product-right col-md-8">
			<div class="col-md-12 big-img">
				<img class="img-responsive" style="border: 1px solid #333" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(800, 500); ?>" alt="" />
			</div>

			<div id="home2-last-img-owl" class="owl-carousel col-md-12">
				<?php 
						$_product = Mage::getModel('catalog/product')->load($_product->getId());
						$media_gallery = $_product->getMediaGallery();?>
				<?php foreach($media_gallery['images'] as $image): ?>
				<div>
					<img src="<?php echo $this->helper('catalog/image')->init($_product, 'image', $image['file'])->resize(200); ?>" alt="<?php echo $this->escapeHtml($image['label']) ?>" />
				</div>
				<?php endforeach; ?>
			</div>	
		</div>
	</div><!-- END Lastest from product -->