	<!-- MAIN HOME 2 NAV-TAB ==================================================-->
	<div class="home2-tab container">
		<div class="row">
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><?php echo "DEAL OF THE WEEK" ?></a></li>
		    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><?php echo "NEW COLLECTION" ?></a></li>
		    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><?php echo "FEATURED ITEM" ?></a></li>
		    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><?php echo "TRENDING ITEM" ?></a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="home">
		    	<div class="home2-countdown">
		    		<h3>30 Days 20Hours 12Mins</h3>
		    	</div>
		    	<div id="home2-deal-owl" class="owl-carousel">
					<?php
						$_productCollection = Mage::getResourceModel('reports/product_collection')
						                    ->addAttributeToSelect('*')
						                    ->setVisibility(array(2,3,4))
						                    ->setOrder('name', 'desc')
						                    ->setPage(1, 8);
					?>
					 <?php  foreach($_productCollection as $_product) : ?>
					<div>
						<a href="<?php echo $_product->getProductUrl() ?>">
							<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" class="img-responsive" alt="Image">
						</a>
						<h2 class="product-name">
							<a href="<?php echo $_product->getProductUrl(); ?>"><?php echo $_product->getName(); ?>
							</a>
							<p class="price"><?php echo $_product->getPrice(); ?></p>
						</h2>

<!--========================================= BUTTON  ======================= -->
					
<!--========================================= BUTTON  ======================= -->
					</div>
				<?php endforeach; ?>
				</div>
		    </div>
		    
		    <div role="tabpanel" class="tab-pane" id="profile">
		    	<div id="home2-new-owl" class="owl-carousel">
					<?php
						$_productCollection = Mage::getResourceModel('reports/product_collection')
						                    ->addAttributeToSelect('*')
						                    ->setVisibility(array(2,3,4))
						                    ->setOrder('created_at', 'desc')
						                    ->setPage(1, 8);
					?>
					 <?php  foreach($_productCollection as $_product) : ?>
					<div>
						<a href="<?php echo $_product->getProductUrl() ?>">
							<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" class="img-responsive" alt="Image">
						</a>
						<h2 class="product-name">
							<a href="<?php echo $_product->getProductUrl(); ?>"><?php echo $_product->getName(); ?>
							</a>
						</h2>
						<p class="price"><?php echo $_product->getPrice(); ?></p>
					</div>
				<?php endforeach; ?>
				</div>
		    </div>

		    <div role="tabpanel" class="tab-pane" id="messages">
		    	<div id="home2-feature-owl" class="owl-carousel">
					<?php
						$_productCollection = Mage::getResourceModel('reports/product_collection')
						                    ->addAttributeToSelect('*')
						                    ->setVisibility(array(2,3,4))
						                    ->setOrder('created_at', 'desc')
						                    ->setPage(1, 8);
					?>
					 <?php  foreach($_productCollection as $_product) : ?>
					<div>
						<a href="<?php echo $_product->getProductUrl() ?>">
							<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" class="img-responsive" alt="Image">
						</a>
						<h2 class="product-name">
							<a href="<?php echo $_product->getProductUrl(); ?>"><?php echo $_product->getName(); ?>
							</a>
						</h2>
						<?php echo $_product->getPrice(); ?>
					</div>
				<?php endforeach; ?>
				</div>
		    </div>

		    <div role="tabpanel" class="tab-pane" id="settings">
		    	<div id="home2-trending-owl" class="owl-carousel">
					<?php
						$_productCollection = Mage::getResourceModel('reports/product_collection')
						                    ->addAttributeToSelect('*')
						                    ->setVisibility(array(2,3,4))
						                    ->setOrder('created_at', 'desc')
						                    ->setPage(1, 8);
					?>
					 <?php  foreach($_productCollection as $_product) : ?>
					<div>
						<a href="<?php echo $_product->getProductUrl() ?>">
							<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" class="img-responsive" alt="Image">
						</a>
						<h2 class="product-name">
							<a href="<?php echo $_product->getProductUrl(); ?>"><?php echo $_product->getName(); ?>
							</a>
						</h2>
						<?php echo $_product->getPrice(); ?>
					</div>
				<?php endforeach; ?>
				</div>
		    </div>
		  </div><!-- END TAB CONTENT-->
		</div><!-- END TAB -->
	</div><!-- END HOME2-TAB -->