<div class="product-fluid container-fluid">
		<div class="col-md-3">
			<img src="<?php echo $this->getSkinUrl('images/prdx2.png') ?>" class="img-responsive" alt="Image">
		</div>
		<div class="col-md-6">
			<img src="<?php echo $this->getSkinUrl('images/prdx1.png') ?>" class="img-responsive" alt="Image">
		</div>
		<div class="col-md-3">
			<img src="<?php echo $this->getSkinUrl('images/prdx3.png') ?>" class="img-responsive" alt="Image">
		</div>
	</div><!-- END Product-fluid -->