	<!-- MAIN HOME 2 NAV-TAB ==================================================-->
	<div class="home2-tab container">
		<div class="row">
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><?php echo "DEAL OF THE WEEK" ?></a></li>
		    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><?php echo "NEW COLLECTION" ?></a></li>
		    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><?php echo "FEATURED ITEM" ?></a></li>
		    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><?php echo "TRENDING ITEM" ?></a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">

<!--=============== DEAL OF WEEK ============== -->
		    <div role="tabpanel" class="tab-pane active" id="home">
		    	<div class="home2-countdown row">
		    		<ul class="m1-count-down">
		    			<li><span class="m1-number">30</span><span>Days</span></li>
		    			<li><span class="m1-number">20</span><span>Hours</span></li>
		    			<li><span class="m1-number">10</span><span>Mins</span></li>
		    			<li><span class="m1-number">50</span><span>Sec</span></li>
		    		</ul>
		    	</div>
		    	<div id="home2-deal-owl" class="owl-carousel">
					<?php
						$dealBlock = Mage::getBlockSingleton('flexmegamenu/product_deal');
						$_productCollection = $dealBlock->getProducts(9);
					?>
					 <?php  foreach($_productCollection as $_product) : ?>
						<div class="m-hover-eff">
							<a class="img-hover" href="<?php echo $_product->getProductUrl() ?>">
								<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" class="img-responsive" alt="Image">
							</a>

							<div class="m-skiphover">
								<a class="name" href="<?php echo $_product->getProductUrl(); ?>">
									<?php echo $_product->getName(); ?>
								</a>
								<?php echo $this->getPriceHtml($_product) ?>
								<?php echo $this->getReviewsSummaryHtml($_product) ?>
								<div class="actions">
										<a class="button" href="#"><?php echo $this->__('Quick View') ?>
										</a>
			                        <?php if(!$_product->canConfigure() && $_product->isSaleable()): ?>
			                            <button type="button" title="<?php echo $this->__('Add to Bag') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
			                        <?php elseif($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>
			                            <a title="<?php echo $this->__('View Details') ?>" class="button" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View Details') ?></a>
			                        <?php else: ?>
			                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
			                        <?php endif; ?>
			                    </div>

	                            <?php if ($this->helper('wishlist')->isAllow()) : ?>
	                                <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><i class="fa fa-heart"></i></a>
	                            <?php endif; ?>
	                            <?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
	                                <a href="<?php echo $_compareUrl ?>" class="link-compare"><i class="fa fa-align-center"></i>
</a>
	                            <?php endif; ?>
	                        
							</div>

							<h2 class="product-name">
								<a href="<?php echo $_product->getProductUrl(); ?>"><?php echo $_product->getName(); ?>
								</a>
								<?php echo $this->getPriceHtml($_product) ?>
							</h2>
						</div>
					<?php endforeach; ?>
				</div>
		    </div>


<!--===================== NEW COLLECTION ==================== -->
		    <div role="tabpanel" class="tab-pane" id="profile">
		    	<div id="home2-new-owl" class="owl-carousel">
					<?php
					    $block = Mage::getBlockSingleton('flexmegamenu/product_new');
						$_productCollection = $block->getNewProducts();
					?>
					 <?php  foreach($_productCollection as $_product) : ?>
					<div>
						<a href="<?php echo $_product->getProductUrl() ?>">
							<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" class="img-responsive" alt="Image">
						</a>
						<h2 class="product-name">
							<a href="<?php echo $_product->getProductUrl(); ?>"><?php echo $_product->getName(); ?>
							</a>
						</h2>
						<p class="price"><?php echo $_product->getPrice(); ?></p>
					</div>
				<?php endforeach; ?>
				</div>
		    </div>

<!--===================== FEATURE ITEM ==================== -->

		    <div role="tabpanel" class="tab-pane" id="messages">
		    	<div id="home2-feature-owl" class="owl-carousel">
					<?php
					
					$block = Mage::getBlockSingleton('flexmegamenu/product_bestseller');
					$_productCollection = $block->getProducts();
					
						$_productCollection = Mage::getResourceModel('reports/product_collection')
						                    ->addAttributeToSelect('*')
						                    ->setVisibility(array(2,3,4))
						                    ->setOrder('created_at', 'desc')
						                    ->setPage(1, 8);
					?>
					 <?php  foreach($_productCollection as $_product) : ?>
					<div>
						<a href="<?php echo $_product->getProductUrl() ?>">
							<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" class="img-responsive" alt="Image">
						</a>
						<h2 class="product-name">
							<a href="<?php echo $_product->getProductUrl(); ?>"><?php echo $_product->getName(); ?>
							</a>
						</h2>
						<?php echo $_product->getPrice(); ?>
					</div>
				<?php endforeach; ?>
				</div>
		    </div>

<!--===================== TRENDING ITEM ==================== -->
		    <div role="tabpanel" class="tab-pane" id="settings">
		    	<div id="home2-trending-owl" class="owl-carousel">
					<?php
					$block = Mage::getBlockSingleton('flexmegamenu/product_toprate');
					$_productCollection = $block->getTop();
					?>
					 <?php  foreach($_productCollection as $_product) : ?>
					<div>
						<a href="<?php echo $_product->getProductUrl() ?>">
							<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(500); ?>" class="img-responsive" alt="Image">
						</a>
						<h2 class="product-name">
							<a href="<?php echo $_product->getProductUrl(); ?>"><?php echo $_product->getName(); ?>
							</a>
						</h2>
						<?php echo $_product->getPrice(); ?>
					</div>
				<?php endforeach; ?>
				</div>
		    </div>
		  </div><!-- END TAB CONTENT-->
		</div><!-- END TAB -->
	</div><!-- END HOME2-TAB -->