.footer .m1-newsletter .block-subscribe .block-title span{
	font-family: $m-font2;
	font-size:22px;
	color:#000;
}
#newsletter-validate-detail{
	.button{
		span{
			font-family: $m-font1;
			font-size:16px;
			color:#000;
		}
	}
}
.footer{
	.m1-footer-fluid{
		margin-bootom:40px;
	}
	.m1-footer-title{
		font-family:$m-font2;
		font-size:22px;
		text-transform: capitalize;
		color: #fff;
	}
	.m1-content-list{
		a, li, p{
			color:#a2a2a2;
			font-family: $m-font1;
			font-size:16px;
		}
	}
}
