
.btn{
  border-radius: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-family: @font-family-once;
  padding: 10px 40px;
  &.form-control-feedback{
    border: none;
    pointer-events: auto;
  }
  &:focus{
    outline: none;
  }
}
.btn-default,
.btn{
   .button-variables-outline(#fff, transparent, #fff, #fff, @color-theme, @color-theme);
}

/*.btn-shop{
  .button-variables-outline(#fff, transparent, #fff, @color-theme, transparent, @color-theme);
  text-transform: uppercase;
  font-size: 22px;
  font-family: @font-family-once;
  padding: 10px 40px;
}
.btn-view,
.btn-cart{
  .button-variables-outline(#fff, transparent, #fff, @color-theme, transparent, @color-theme);
  text-transform: uppercase;
  font-size: 12px;
  font-family: @font-family-once;
  padding: 6px 12px;
}*/
.btn-wish{
  width: 20px;
  line-height: 20px;
  position: absolute;
  top: 10px;
  right: 15px;
  &:before{
    font-family: 'FontAwesome';
    content: "\f004";
    color: @color-theme;
    font-size: 20px;
  }
  &:hover{
    background-color: transparent;
    &:before{
      color: #fff;
    }
  }
}