/*owl*/
.owl-controls{
	background-color: transparent;
	.owl-prev,
	.owl-next{
		display: inline-block;
		line-height: 55px;
		width: 55px;
		text-align: center;
		border:	1px solid #ddd;
		cursor: pointer;
		position: absolute;
		top: 50%;
		margin-top: -27px;
		background-color: #E6E6E6;
		color: #a5a5a5;
		&:before{
			font-family: 'FontAwesome';
			font-size: 18px;
			color: #a5a5a5;
		}
		&:hover{
			border-color: @color-theme;
			background-color:	@color-theme;
			color: #fff;
			&:before{
				color: #fff;
			}
		}
	}
	.owl-prev{
		left: -70px;
		&:before{
			content: "\f177";
		}
	}
	.owl-next{
		right: -70px;
		&:before{
			content: "\f178";
		}
	}
}
/*carousel bootstrap*/
.carousel-control{
	height: 40px;
	bottom: auto;
	top: 50%;
	margin-top: -20px;
	&.left,
	&.right{
		background-image: none;
	}
}
.carousel-indicators{
	li{
		border-color: #fff;
		width: 13px;
		height: 13px;
		margin: 0;
	}
	.active{
		background-color: #fff;
		width: 13px;
		height: 13px;
	}
}