/*well*/
.well{
	border-radius: 0;
}

/*list-group*/
.list-group-item{
	&:last-child,
	&:first-child{
		border-radius: 0;
	}
}
/*alert*/
.alert{
	border-radius: 0;
}
/*img-thumbnail*/
.img-thumbnail{
	border-radius: 0;
	padding: 0;
}
.img-rounded{
	border-radius: 0;
}
.img-thumbnail,
.img-rounded,
.img-circle{
	max-height: 100%;
}
/*pagination*/
.pagination{
	> li{
		display: inline-block;
		&:first-child,
		&:last-child{
			> a,
			> span{
				border-radius: 0;
			}
		}
		> a,
		> span{
			border-radius: 0;
			color: @color-theme;
			border-color: @color-theme;
			&:hover,
			&:focus{
				background-color: @color-theme;
				color: #fff;
				border-color: @color-theme;
			}
		}
	}
	.active{
		> a,
		> span{
			&,
			&:hover,
			&:focus{
				background-color: @color-theme;
				color: #fff;
			}
		}
	}

}
.pager{
	> li{
		> a,
		> span{
			color: @color-theme;
			border-color: @color-theme;
			&:hover,
			&:focus{
				background-color: @color-theme;
				color: #fff;
				border-color: @color-theme;
			}
		}
	}
}
/*breadcrumb*/
.breadcrumb{
	background-color: @bg-theme;
	text-transform: uppercase;
	padding-left: 0;
	padding-right: 0;
	li{
		color: @color-font-base;
		&+ li{
			&:before{
				color: @color-font-base;
				content: "/";
			}
		}
	}
	.active{
		color: @color-theme;
	}
}
/*dropdown*/
.dropdown-menu{
	> li{
	 	> a{
	 		color: @color-font-base;
	 		padding: 6px 12px;
	 		&:hover{
	 			background-color: @color-theme;
	 			color: #fff;
	 		}
	 	}
	}
	.dropdown-header{
		color: #777;
 		padding: 6px 12px;
	}
}
/*nav*/
/*.nav{
	> li{
		> a{
			&:hover,
			&:focus{
				background-color: transparent;
				color: @color-theme;
			}
		}
	}
}*/