/*menu*/
.navbar{
	border-radius: 0;
	min-height: 50px;
	margin-bottom: 15px;
	background-color: #fff;
	border: 1px solid #ddd;
	.navbar-nav{
		> li{
			> a{
				color: @color-font-base;
				padding: 15px 12px;
				font-size: 14px;
				&:hover,
				&:focus{
					color:	#fff;
					background-color: @color-theme;
				}
			}
		}
		> .active,
		> .open{
			> a{
				&,
				&:hover,
				&:focus{
					background-color: @color-theme;
					color: #fff;
				}
			}
		}
	}
}
