//SEARCH
.wrap-search{
  position: relative;
  height: 80px;
  .btn-search{
      text-align: center;
      line-height: 85px;
      display: block;
  }
  .search-transition{
      position: absolute;
      top:0;
      right:0;
      &.open {
          input{
              width: 300px;
              .transition(0.5s);
              padding:15px;
          }
          .btn-search{
              background: @color-theme;
              color: #fff;
          }
      }
  }

  input{
      background:#ffffff;
      position:relative;
      height: 80px;
      width: 0;
      z-index: 1;
      .transition(0.5s);
      border: none;
      padding: 0;
      &:hover,&:focus,&:active{
          border: none;
      }
  }

}
