/*tab*/
.nav-tabs{
	margin-bottom: 15px;
	> li{
		> a{
			border-radius: 0;
			&:hover,
			&:focus{
				border-color: #ddd #ddd transparent;
				background-color: #fff;
			}
		}
		&.active{
			> a{
				&,
				&:hover,
				&:focus{
					color: @color-theme;
				}
			}
		}
	}
}

.nav-pills{
	margin-bottom: 15px;
	text-align: center;
	> li{
		float: none;
		display: inline-block;
		padding: 0 24px;
		position: relative;
		&:after{
			content: "";
			width: 1px;
			height: 24px;
			background-color: #e2e2e2;
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -12px;
		}
		> a{
			border-radius: 0;
			text-transform: uppercase;
			font-size: 25px;
			padding: 10px 0;
			&:hover,
			&:focus{
				color: inherit;
				background-color: transparent;
				border-bottom: 1px solid @color-theme;
			}
		}
		&.active{
			> a{
				&,
				&:hover,
				&:focus{
					color: inherit;
					background-color: transparent;
					border-bottom: 1px solid @color-theme;
				}
			}
		}
	}
}
.tab-content{
	padding-top: 30px;
}
