
.box-Countdown{
	border: 1px solid #575757;
	display: inline-block;
	margin-bottom: 80px;
	.countdown-row {
		clear: both;
		width: 100%;
		padding: 0px 5px;
		text-align: center;
		.countdown-section{
			display: inline-block;
			margin-right: 0px;
			text-align: center;
			background-color: transparent;
			padding: 20px 0 10px;
			color: @color-font-base;
			width: 90px;
			/*border: 2px solid @color-theme;*/
			.countdown-amount{
				font-size: 34px;
				display: block;
				font-family: @font-family-two ;
				font-weight: 400;
				color: #575757;
				line-height: 1;
				padding: 0 15px;
				border-right: 1px solid #e2e2e2;
			}
			.countdown-period{
				font-size: 12px;
				line-height: 1;
				text-transform: uppercase;
			}
			&:last-child{
				.countdown-amount{
					border-right: none;
				}
			}
		}
	}
}
.product{
	max-width: 270px;
	height: 425px;
	display: block;
	margin: auto;
	position: relative;
	margin-bottom: 15px;
	overflow: hidden;
	.img{
		position: relative;
		display: block;
		text-align: center;
		background-color: #FAFAFA;
		border: 1px solid #dfdfdf;
		height: 360px;
		padding-top: 77px;
		img{
			max-width: 100%;
		}
	}
	.caption{
		transition: all 0.4s;
		padding-top: 15px;
		.star{
			display: none;
			margin-bottom: 20px;
		}
		.box-btn{
			display: none;
		}
		.btn{
			margin: 5px;
			padding: 6px 12px;
			font-size: 12px;
		}
		.btn-wish{
			padding: 0;
			margin: 0;
			border: none;
		}
	}
	.name{
		display: block;
		margin-bottom: 6px;
		font-size: 16px;
		color: #0d0d0d;
		font-family: @font-family-two;
		&:hover{
			color: @color-theme;
		}
	}
	.price{
		font-size: 15px;
		.amount-old{
			text-decoration: line-through;
			margin-right: 17px;
		}
	}
	&:hover{
		.caption{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0, 0, 0, 0.75);
			color: #fff;
			transition: all 0.4s;
			padding-top: 120px;
			text-align: center;
			.star{
				display: block;
			}
			.box-btn{
				display: block;
			}
			.name{
				color: #fff;
				&:hover{
					color: @color-theme;
				}
			}
		}
	}
}