section{
	margin-bottom: 60px;
}
.slide-banner{
	margin-bottom: 0;
	img{
		width: 100%;
	}
	.opacity{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.5);
		cursor: pointer;
		z-index: 10;
	}
	p{
		margin: 0;
		line-height: 1.1;
	}
	.btn{
		 margin-top: 30px;
	}
	.caption{
		text-align: center;
		font-family: @font-family-two;
		font-weight: bold;
		font-size: 80px;
		text-transform: uppercase;
		color: #fff;
		position: absolute;
		top: 25%;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 55;
		&:after{
			content: "";
			position: absolute;
			bottom: 50px;
			left: 50%;
			width: 24px;
			height: 36px;
			background-image: url(../img/icon/arrow-down.png);
			background-repeat: no-repeat;
			background-position: center;
			cursor: pointer;
		}
	}
}
.banner{
	li{
		float: left;
		width: 25%;
		margin: 0 !important;
	}
	.box-banner{
		position: relative;
		p{
			margin: 0;
			line-height: 1.1;
		}
		.caption{
			position: absolute;
			top: 35px;
			left: 0;
			right: 0;
			text-align: center;
			font-size: 30px;
			font-family: @font-family-two;
			font-weight: 300;
		}
	}
	.btn{
		font-size: 12px;
		margin-top: 15px;
	}
	.box-banner2{
		.caption{
			top: 30%;
			left: 30px;
			text-align: left;
		}
	}
	.box-banner3{
		.caption{
			top: 30%;
			right: 30px;
			text-align: right;
		}
	}
	.box-banner4{
		.caption{
			top: 87px;
		}
	}
	.box-banner5{
		.caption{
			top: 87px;
		}
	}
	.box-banner6{
		.caption{
			top: 30%;
			left: 30px;
			text-align: left;
		}
	}
}
.block-product{
	background-color: #EA9B3E;
	font-size: 40px;
	font-weight:300;
	margin-top: 80px;
	.title{
		font-size: 70px;
		font-family: @font-family-two;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 90px;
	}
	img{
		margin-top: -70px;
	}
	&.block-product1{
		background-color: #36D6F6;
	}
	&.block-product2{
		margin-bottom: 0;
	}
	.btn{
		.button-variables-outline(#0d0d0d, transparent, #0d0d0d, #fff, @color-theme, @color-theme);
		margin-bottom: 70px;
	}
}
.Latest-from-shop{
	padding-bottom: 60px;
	.l-product{
		.img{
			margin-bottom: 40px;
		}
		.name{
			display: inline-block;
			border-bottom: 1px solid #cccccc;
			position: relative;
			padding: 10px 0;
			text-transform: capitalize;
			font-size: 25px;
			font-variant: @font-family-two;
			margin-bottom: 20px;
			&:after{
				content: "";
				width: 55px;
				height: 5px;
				background-color: @color-theme;
				position: absolute;
				bottom: -3px;
				left: 0;
			}
		}
		.price{
			color: #545454;
			margin-bottom: 20px;
			.amount{
				font-size: 40px;
				font-weight: 600;
			}
			.amount-old{
				text-decoration: line-through;
				font-size: 28px;
				margin-right: 15px;
			}
		}
		.btn{
			font-size: 14px;
			.button-variables-outline(#545454, transparent, #545454, #fff, @color-theme, @color-theme);
		}
	}
	.l-product-right{
		.img{
			margin-bottom: 30px;
			background-color: #FEFBF6;
			border: 1px solid #dfdfdf;
			text-align: center;
			img{

			}
		}
		.row{
			text-align: center;
			.img-thumbnail{
				background-color: #FBFBFB;
			}
		}
	}
}
.new-imac{
	background-color: #FEFBF6;
	border: 1px solid #dfdedc;
	margin-bottom: 0;
	.product-new{
		float: left;
		width: 25%;
		min-height: 480px;
		text-align: center;
		&:nth-child(2){
			width: 50%;
			border-width: 0 1px;
			border-color: #dfdedc;
			border-style: solid;

			.img{
				float: left;
				margin-right: 20px;

			}
			.caption{
				overflow: hidden;
				padding-top: 20%;
				text-align: left;
			}
			.name{
				font-size: 25px;
				text-transform: capitalize;
				font-family: @font-family-two;
				margin-bottom: 15px;
			}
			.price{
				font-size: 31px;
				margin-bottom: 15px;
				.amount-old{
					text-decoration: line-through;
					margin-right: 10px;
				}
			}
		}
	}
	.price{
		margin-bottom: 15px;
		.amount-old{
			text-decoration: line-through;
			margin-right: 10px;
		}
	}
	.name{
		font-size: 16px;
		text-transform: capitalize;
		font-family: @font-family-two;
		margin-bottom: 15px;
	}
	.img{
		padding-top: 50px;
		margin-bottom: 20px;
	}
	img{
		max-width: 100%;
	}
	.btn{
		font-size: 13px;
		padding: 6px 12px;
		margin: 0 5px 0 0;
		.button-variables-outline(#545454, transparent, #545454, #fff, @color-theme, @color-theme);
	}
}
.doi-tac{
	background-color: #F7F3F4;
	border-bottom: 1px solid #ddd;
	margin-bottom: 0;
	.owl-doi-tac{
		margin: 45px 0;
		text-align: center;
	}
	.shipping{
		background-color: #202020;
		color: #fff;
		padding: 54px 0;
		text-transform: uppercase;
		font-family: @font-family-two;
		.col-md-4{
			position: relative;
			&:after{
				content: "";
				height: 130px;
				width: 1px;
				background-color: #4d4d4d;
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -65px;
			}
			&:last-child{
				&:after{
					content: none;
				}
			}
		}
		p{
			font-size: 28px;
			font-weight: bold;
			margin-bottom: 2px;
		}
		span{
			font-size: 24px;
		}
		.pull-left{
			margin-left: 35px;
		}
		.pull-right{
			margin-right: 35px;
			padding-top: 10px;
		}
	}
}