// add class
.headding{
	max-width: 770px;
	margin: auto;
	margin-bottom: 50px;
	.title{
		font-size: 28px;
		text-transform: uppercase;
		display: inline-block;
		font-family: @font-family-two;
		border-bottom: 1px solid #d6d6d6;
		position: relative;
		padding: 25px 12px;
		margin-bottom: 15px;
		&:after{
			content: "";
			display: inline-block;
			position: absolute;
			bottom: -3px;
			left: 50%;
			margin-left: -27px;
			width: 54px;
			height: 5px;
			background-color: @color-theme;
		}	
	}
}