
body{
	min-height: 500px;
	max-width: 1920px;
	margin: auto;
	font-size: 16px;
	font-family: @font-family-once,Arial, serif;
	font-weight: 400;
	color: @color-font-base;
	background-color: @bg-theme;
}
a{
    color: @color-font-base;
	&:hover,
	&:focus{
		outline: none;
		text-decoration: none;
        color: @color-theme;
	}
}
ul,
ol{
	margin:	0;
	padding: 0;
	li{
		list-style: none;
	}
}


/*video responsive*/
.video-responsive {
	height: 0;
	padding-top: 0;
	padding-bottom: 56.25%;
	position: relative;
	overflow: hidden;
	embed,
	iframe,
	iframe,
	video{
		top: 0;
	  	left: 0;
		width: 100%;
	  	height: 100%;
	  	position: absolute;
	  	border: none;
	}
}
.audio-responsive iframe {
  width: 100%;
  height: 126px;
}
